CHATBOT BASICO LAYON.json
{
  "name": "CHATBOT BASICO LAYON",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        -32
      ],
      "id": "1b3efc25-6bbc-42d1-ba1a-9aa5c4ce6fc3",
      "name": "WhatsApp Trigger1",
      "webhookId": "ca0bfb8f-9aa4-4874-827e-2b315e514988",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Lv9lqv3eZUrMAbxC",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $json.messages[0].from }}",
        "textBody": "OI, tudo bom eu sou o chatbot do layon e vou te enviar um video ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        816,
        0
      ],
      "id": "bc670262-5ea3-47a7-9c91-9889707ecc06",
      "name": "SAUDAÇÕES1",
      "webhookId": "0a860cd4-9f92-42a8-a0ae-7b47a3e58137",
      "credentials": {
        "whatsAppApi": {
          "id": "UA7fntD6z61qwrjb",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.messages[0].from }}",
        "textBody": "VIDEO",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1008,
        0
      ],
      "id": "b9393c0d-7cb1-415b-b7c0-eb82288eb40d",
      "name": "ENVIAR VIDEO1",
      "webhookId": "0a860cd4-9f92-42a8-a0ae-7b47a3e58137",
      "credentials": {
        "whatsAppApi": {
          "id": "UA7fntD6z61qwrjb",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/740050119202275/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('WhatsApp Trigger1').item.json.messages[0].from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"Escolha uma opção:\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"opcao_1\",\n            \"title\": \"1\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"opcao_2\",\n            \"title\": \"2\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        0
      ],
      "id": "47e53984-97bf-49b7-a583-913c4e261b1f",
      "name": "BTN OPC 1 E 2",
      "credentials": {
        "whatsAppApi": {
          "id": "UA7fntD6z61qwrjb",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -288
      ],
      "id": "82106bd3-fd81-4560-b392-644606672532",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        -16
      ],
      "id": "e56d8dc9-676f-4949-a2a4-86fd43910752",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "zatnGnxMczro8wRm",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        -288
      ],
      "id": "68a5b98b-ac4d-458d-af3b-e470a6ba8cc3",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "zatnGnxMczro8wRm",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5fa9fd0-303f-4904-ab79-9c88a1ff8623",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        -16
      ],
      "id": "15bc1d34-3bb8-4510-b994-9bd8e2e7c855",
      "name": "ACABOU CONVERSA?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5fa9fd0-303f-4904-ab79-9c88a1ff8623",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        -32
      ],
      "id": "d3c13c35-a4a7-4f74-ac7d-9ec40182d38c",
      "name": "1 OU 2?"
    }
  ],
  "pinData": {
    "WhatsApp Trigger1": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Daniel Alvarez"
              },
              "wa_id": "5521969547552"
            }
          ],
          "messages": [
            {
              "from": "5521969547552",
              "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYIEFDRUQzMjMzMzAwNkJDNjIzNkUyRTg1QkFBMjA1RkRBAA==",
              "timestamp": "1761135619",
              "text": {
                "body": "manda o video"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "connections": {
    "WhatsApp Trigger1": {
      "main": [
        [
          {
            "node": "1 OU 2?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAUDAÇÕES1": {
      "main": [
        [
          {
            "node": "ENVIAR VIDEO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR VIDEO1": {
      "main": [
        [
          {
            "node": "BTN OPC 1 E 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BTN OPC 1 E 2": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "ACABOU CONVERSA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACABOU CONVERSA?": {
      "main": [
        [],
        [
          {
            "node": "SAUDAÇÕES1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 OU 2?": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e94d0bb-1511-4383-9fd5-8b7ae1e9c7c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f68a9a73963c9909b94c9b4d1663147c9d99da766fa23b233f344186361e4ebb"
  },
  "id": "Hx5NoE45Kx9JNO8p",
  "tags": []
}