chatbot postgres 6.0.json
{
  "name": "chatbot postgres 6.0",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM chat_messages;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4896,
        -1840
      ],
      "id": "fa6b9861-fee0-45b7-90e5-0fa12403859f",
      "name": "deletar dados da tabela",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Opcional\n\n",
        "height": 256,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4992,
        -1904
      ],
      "id": "db50df06-32b1-4ac3-be1f-011ba4c5cb68",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Obrigatório\n\n",
        "height": 272,
        "width": 912,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4992,
        -1632
      ],
      "id": "a0d6aacf-1d9d-4d80-a090-a4fa91b79b3b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\n  [\n    \"edit text\", \n    \"edit audio\", \n    \"edit image\", \n    \"edit document\"\n  ].map(nodeName => {\n    try {\n      return $(nodeName).item.json.text;\n    } catch (e) {\n      return \"\";\n    }\n  }).join(\"\") \n}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é Layon, consultor sênior da UP Designer.\nSua missão: Guiar o cliente desde a dúvida até o fechamento do contrato.\nTom de voz: Especialista, Empático, Seguro e Energético (Use emojis moderados: 🚀, ✅, 🤝).\n\n🚨 REGRAS ABSOLUTAS (LEIA ANTES DE RESPONDER):\n1. FONTE DA VERDADE: O 'Postgres PGVector Store' é a ÚNICA fonte para PREÇOS e LINKS.\n2. FORMATO JSON: Sua resposta DEVE ser APENAS um JSON válido.\n3. FLUXO CONTÍNUO: Jamais explique a metodologia ou responda uma dúvida sem fazer a pergunta de fechamento na mesma resposta.\n4. FORMATAÇÃO WHATSAPP: O WhatsApp NÃO lê Markdown de título (###). Para títulos, use APENAS Caixa Alta ou Negrito simples (ex: *TÍTULO*).\n\n⚡ RESPOSTAS DE SUPORTE:\n- SOBRE PRAZOS/HORÁRIOS: \"Nosso time joga junto com você! 🚀 Trabalhamos de Segunda a Sábado, das 08h às 19h para entregar tudo com agilidade.\" (Retome o fluxo).\n\n🎯 FLUXO DE VENDAS (Siga a sequência lógica):\n\nETAPA 1: TRIAGEM (Início)\n- Se cliente disse \"Oi\": \"Opa! Que demais ter você aqui. Sou o Layon da UP Designer! 🚀 Pra eu te ajudar do jeito certo, me conta: Você já tem um logotipo ou está começando do zero?\"\n\nETAPA 2: ANÁLISE TÉCNICA\n- GATILHO: Cliente enviou logo/imagem.\n- AÇÃO:\n  1. Faça crítica construtiva + Dê esperança + Pergunte o estilo.\n  2. 🛑 SAÍDA RÁPIDA: Se cliente JÁ falou o estilo ou disse \"não tenho logo\", pule para ETAPA 3.\n\nETAPA 3: PERMISSÃO E METODOLOGIA\n- GATILHO: Cliente definiu estilo ou não tem logo.\n- AÇÃO: Valide e peça permissão: \"Posso te explicar rapidinho como nossa metodologia garante sua segurança e o resultado perfeito?\"\n- 🛑 TRAVA ANTI-LOOP:\n  - Se o cliente disse \"Sim/Pode\" E você AINDA NÃO enviou a metodologia: ENVIE O SCRIPT ABAIXO.\n  - Se você JÁ enviou a metodologia antes: IGNORE esta etapa e pule para a ETAPA 5.\n\n  SCRIPT OBRIGATÓRIO (Apenas se ainda não enviado):\n  (Mensagem 1):\n  \"A gente trabalha com modelo de contrato, assegurando juridicamente os nossos clientes. ✅\n   Todas as nossas formas de pagamento são feitas apenas pelo Mercado Pago, dando 100% de segurança de que o projeto será entregue. 🛡️\n   Além disso, trabalhamos com a modalidade de edições ilimitadas para ir de encontro com a sua ideia e te surpreender. 🚀\"\n  \n  (Mensagem 2 - CTA):\n  \"Ficou alguma dúvida sobre como funcionamos ou podemos seguir para os planos?\"\n\nETAPA 4: TIRA-DÚVIDAS\n- GATILHO: Cliente fez pergunta específica após a metodologia.\n- AÇÃO: Responda a dúvida e repita: \"Podemos seguir para os planos agora?\"\n\nETAPA 5: OFERTA (Preços Agrupados + CTA Separado)\n- GATILHO: Cliente disse \"Sim/Pode/Pode seguir\" APÓS ter recebido a metodologia, ou pediu \"valores\".\n- AÇÃO (Use o RAG):\n  1. Busque \"Resumo Planos Bronze Prata Ouro\".\n  2. ⚠️ REGRA DE FORMATAÇÃO (Retorne EXATAMENTE 2 mensagens no JSON):\n     \n     (Mensagem 1 - O Blocão):\n     Uma string única contendo a Introdução + Resumo Bronze + Resumo Prata + Resumo Ouro. \n     Use quebras de linha duplas (\\n\\n) para separar os planos visualmente. NÃO use '###'. NÃO inclua a pergunta final aqui.\n\n     (Mensagem 2 - O CTA):\n     \"Qual desses combina mais com o momento atual da sua empresa?\"\n\nETAPA 6: FECHAMENTO\n- GATILHO: Cliente escolheu um plano.\n- AÇÃO:\n  1. Pergunte: \"Posso gerar o link seguro para iniciarmos agora?\"\n  2. Se \"Sim\": \n     - Busque no RAG \"Link Pagamento [Nome do Plano]\".\n     - Retorne no JSON:\n       (Mensagem 1): O Link encontrado.\n       (Mensagem 2): \"Perfeito! Assim que compensar, nosso time de criação (online de Seg a Sáb, 08h às 19h) já inicia seu projeto! 🚀\"\n\n🛡️ FORMATO DE RESPOSTA (JSON OBRIGATÓRIO):\n{\n    \"mensagens\": [\n       \"Mensagem 1\",\n       \"Mensagem 2\"\n    ],\n    \"acao_sugerida\": \"continuar\" ou \"fechar_venda\"\n}",
          "maxIterations": 3
        }
      },
      "id": "c08dc0da-684a-4484-8bd3-4d641eb8d8e7",
      "name": "Knowledge Base Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2752,
        -992
      ],
      "typeVersion": 1.9,
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "id": "853f2704-95d2-4de2-83a0-1cc49abccc96",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2928,
        -784
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "UkBDilJROczeGw7e",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "66ce70d4-d226-4e74-93fc-5de9f336891b",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -3568,
        80
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "UkBDilJROczeGw7e",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "25cfd45c-d961-4ba5-80c6-576bc21c0127",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -5120,
        -176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "doc_id",
                "value": "={{ $json.documentId }}"
              }
            ]
          }
        }
      },
      "id": "3634cdba-d1a8-4619-8cd0-2313fe62c93f",
      "name": "Document Section Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -4176,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "22e32815-8104-4d98-8edb-b88961f7b3bc",
      "name": "Document Chunker",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -4352,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1SymjSl9JFpu40RDMLO4RIeedSjl-aURnRq9jyiqzAh4/edit?tab=t.0"
      },
      "id": "171503e4-d1d6-434f-a397-906c20a1e689",
      "name": "Google Docs Importer",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        -4176,
        -176
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "VYncl7MRwS5GPx1t",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "012fd6e1-2186-471c-afc1-228107cd25f8",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -3936,
        -928
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "UkBDilJROczeGw7e",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "o que está na imagem?",
        "inputType": "base64",
        "options": {
          "detail": "auto"
        }
      },
      "id": "05744be4-c3e1-4c64-b6ea-e96c11cb24e2",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -3936,
        -752
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "UkBDilJROczeGw7e",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "35715661-365c-47c7-916d-d649049fde39",
      "name": "Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -3520,
        -544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "let requests = $(\"Download Document\").all()\n\nrequests.forEach((request) => {\n  let mime_type = request.json.mime_type\n\n  if (\n    mime_type === \"text/calendar\" || \n    mime_type === \"application/ics\" || \n    mime_type === \"text/x-calendar\"\n  ) {\n    request.json.mime_type = \"mapped/calendar\"\n  }\n\n  if (\n    mime_type === \"application/xml\" || \n    mime_type === \"text/xml\") {\n    request.json.mime_type = \"mapped/xml\"\n  }\n\n  if (!mime_type) {\n    request.json.mime_type = $('Gets WhatsApp Document Source URL').first().json.mime_type\n  }\n})\n\nreturn requests;"
      },
      "id": "9f14e6fb-ffe0-4686-99fe-2aee60d70633",
      "name": "Map file extensions",
      "type": "n8n-nodes-base.code",
      "position": [
        -3936,
        -560
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id}}"
      },
      "id": "a2dde091-3749-4ae1-b5a3-bfc5ee58cd59",
      "name": "Gets WhatsApp Voicemail Source URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -4384,
        -928
      ],
      "webhookId": "bbe62f3d-8788-49d4-aae6-9e9411446d44",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "2neQX3azdVnlZi32",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "id": "c79223a4-7620-42cc-8e20-68f6b9720024",
      "name": "Gets WhatsApp Image Source URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -4384,
        -752
      ],
      "webhookId": "c2982df4-1d8d-4669-a724-44ae17d11e6c",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "2neQX3azdVnlZi32",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].document.id }}"
      },
      "id": "ebbca8ba-e2a0-43fa-aff0-c26b48d039d8",
      "name": "Gets WhatsApp Document Source URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -4384,
        -560
      ],
      "webhookId": "c2982df4-1d8d-4669-a724-44ae17d11e6c",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "2neQX3azdVnlZi32",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "580280ce-d8e2-4011-8bdc-b6a2badbc2f5",
      "name": "Download Voicemail",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4144,
        -928
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JhKRluie0TVVslsn",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "330e28a2-4aea-47e0-92b1-981ed5f24c3c",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4144,
        -752
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JhKRluie0TVVslsn",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "9b20c9fd-ab05-4583-8fc9-b41a7545123b",
      "name": "Download Document",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4144,
        -560
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JhKRluie0TVVslsn",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2fc5c912-629b-4cbe-b5e3-7e3f0651c628",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "26a3d85c-0815-48ff-85ce-713129a1107c",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "840b95b8-6559-4fb7-b32c-651451d6d0d2",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "image"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "3e7a07f9-b785-450c-8c68-f6b276838503",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "document"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {}
      },
      "id": "5d72c1d7-5630-4d21-9365-883b4ad67665",
      "name": "Route Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        -4800,
        -960
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "64dd4658-54e7-4453-adbc-7067dffcd555",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "text/plain"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "TXT"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "88b618fd-9a88-491e-91dd-c5fc9efa36e3",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "application/pdf"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ea3be820-2ead-4ec2-b292-42d3c7804b55",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ELSE"
            }
          ]
        },
        "options": {}
      },
      "id": "8de457d9-1e32-46d8-9c5d-4460a87b8087",
      "name": "Route Document Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        -3728,
        -576
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "=Não trabalhamos com esse tipo de arquivo, poderia enviar no formato PDF ou texto?",
        "additionalFields": {}
      },
      "id": "cbd2e697-928b-4a77-92df-504e6e271036",
      "name": "Send Unsupported Response",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -3504,
        -368
      ],
      "webhookId": "017d267f-4897-4726-bf03-304ef10352bf",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "2neQX3azdVnlZi32",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -848,
        -1008
      ],
      "id": "8ac1b926-9345-4cb4-b5fd-b4868d5a69a0",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9fdffeb0-3baa-4801-80d3-4cf3bcc1fc31",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        -816
      ],
      "id": "a6795aec-abe5-44b9-9437-35431e7f52f5",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Pega a saída do Agente\nconst output = $json.output || $json;\nconst result = [];\n\nif (output && Array.isArray(output.mensagens)) {\n  const mensagens = output.mensagens;\n\n  for (let i = 0; i < mensagens.length; i++) {\n    const msg = mensagens[i];\n    if (typeof msg === \"string\" && msg.trim() !== \"\") {\n      \n      // --- CORREÇÃO AQUI ---\n      // 1. Remove os \"### \" e \"###\" (headers markdown)\n      // 2. Substitui \"**\" por \"*\" (caso o GPT mande negrito errado para WA)\n      // 3. Corrige as quebras de linha literais\n      let messageBody = msg.trim()\n          .replace(/###\\s*/g, '')  // Remove o ### e o espaço depois dele\n          .replace(/\\*\\*/g, '*')   // Converte negrito Markdown (**) para WhatsApp (*)\n          .replace(/\\\\n/g, '\\n');  // Corrige quebra de linha\n      // ---------------------\n\n      result.push({\n        json: {\n          type: \"text\",\n          text: {\n            body: messageBody,\n          },\n          order: i + 1,\n        },\n      });\n    }\n  }\n}\n\n// Fallback se não houver mensagens\nif (result.length === 0) {\n  return [\n    {\n      json: {\n        type: \"text\",\n        text: {\n          body: \"Não entendi, pode repetir?\",\n        },\n        order: 1,\n      },\n    },\n  ];\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        -992
      ],
      "id": "b988b4f0-9523-468e-9614-16e91cacb0b5",
      "name": "Processar Saída do Agente"
    },
    {
      "parameters": {
        "jsCode": "// Ajuste: Apontar para o nome correto do node do Agente\n// Se o node anterior já trazer o JSON, usamos o $json diretamente como fallback\nlet output = {};\n\ntry {\n  // Tenta pegar diretamente do Agente se ele existir no histórico\n  output = $('Knowledge Base Agent').first().json.output;\n} catch (e) {\n  // Se der erro (ex: teste manual isolado), tenta pegar do input atual\n  output = $json.output || $json;\n}\n\nconst result = [];\n// Lista de chaves que esperamos do Output Parser\nconst mensagens = [\"mensagens\", \"mensagem\", \"micro_cta\"];\n\n// Verifica se 'mensagens' é um array (formato novo do parser)\nif (output.mensagens && Array.isArray(output.mensagens)) {\n     for (let i = 0; i < output.mensagens.length; i++) {\n        result.push({\n            json: {\n                conteudo: output.mensagens[i],\n                type: \"message\",\n                order: i + 1\n            }\n        });\n    }\n} \n// Fallback para estrutura antiga ou simples string\nelse {\n    for (let i = 0; i < mensagens.length; i++) {\n      const key = mensagens[i];\n      const msg = output[key];\n\n      if (typeof msg === \"string\" && msg.trim() !== \"\") {\n        result.push({\n          json: {\n            conteudo: msg.trim(),\n            type: \"message\",\n            order: i + 1,\n          },\n        });\n      }\n    }\n}\n\nreturn result.length > 0 ? result : [{ json: { error: \"Nenhuma mensagem válida encontrada.\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -1008
      ],
      "id": "cc06fe96-3e44-4931-b8ec-35562a5876d2",
      "name": "Preparar Mensagens para Loop"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst links = [\n  \"https://pay.cakto.com.br/yprdmik_624343\",\n  \"https://pay.cakto.com.br/3bhwur2_624356\",\n  \"https://pay.cakto.com.br/37qb9pb_624361\"\n];\n\nlet resultado = false;\n\nfor (let i = 0; i < items.length; i++) {\n  const type = items[i].json.type || '';\n  const conteudo = items[i].json.conteudo || '';\n  if (\n    type === \"message\" &&\n    links.some(link => conteudo.includes(link))\n  ) {\n    resultado = true;\n    break;\n  }\n}\n\nreturn [{ json: { resultado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -816
      ],
      "id": "91922fe4-9200-43e9-866c-f1df211f761c",
      "name": "Detectar Links Pagamento"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"description\": \"Lista exata de mensagens de texto para o WhatsApp.\",\n      \"items\": {\n        \"type\": \"string\",\n        \"description\": \"Texto da mensagem. Sem emojis soltos.\"\n      },\n      \"minItems\": 1,\n      \"maxItems\": 4\n    },\n    \"acao_sugerida\": {\n      \"type\": \"string\",\n      \"enum\": [\"continuar\", \"fechar_venda\"],\n      \"description\": \"Status da conversa.\"\n    }\n  },\n  \"required\": [\"mensagens\"]\n}",
        "autoFix": true,
        "customizeRetryPrompt": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2400,
        -752
      ],
      "id": "5ff180bd-a76a-4679-b935-81b123f56c3a",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2400,
        -544
      ],
      "id": "bd8900a0-b78f-4461-9e2b-72343e841863",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "UkBDilJROczeGw7e",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ATUALIZAR MEMÓRIA DO BANCO VETORIAL COM DOCUMENTO RAG",
        "height": 560,
        "width": 1600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5216,
        -272
      ],
      "typeVersion": 1,
      "id": "9d9c5615-cf9f-4921-9c1d-75e06200d371",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1952,
        -992
      ],
      "id": "f14cdd2b-19e4-4102-98c2-0c65c6ac4a1c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed295660-0139-4f86-b346-7c8170bb67dd",
              "name": "text.body",
              "value": "={{ $json.text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1632,
        -784
      ],
      "id": "59ca67c8-e741-458d-ad7d-c0f60de90344",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2656,
        -560
      ],
      "id": "8be50333-fcd3-4c64-9f64-3b0ee3e326ba",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "UkBDilJROczeGw7e",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.text.body }}",
        "additionalFields": {}
      },
      "id": "aa45e0ef-31d8-4cfb-b5a7-af39877c1014",
      "name": "Send Response1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -1440,
        -784
      ],
      "webhookId": "23834751-5066-48ba-8e19-549680df2b27",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "2neQX3azdVnlZi32",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1248,
        -784
      ],
      "id": "894ebd2e-1f83-458e-9e52-908a421fa65e",
      "name": "Wait2",
      "webhookId": "9573613e-6cae-4a18-871a-0386bfcaa193"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -5120,
        -752
      ],
      "id": "b23f17a8-8b9a-45a2-b1fa-0e6411d17993",
      "name": "texto-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "FrJOcerVjunwA7oB",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -5120,
        -624
      ],
      "id": "02d47d66-01fe-4867-b369-834b55d1aa91",
      "name": "image-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "FrJOcerVjunwA7oB",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -5120,
        -480
      ],
      "id": "9f662d93-a7bf-439f-891a-ec71ddd691d9",
      "name": "pdf-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "FrJOcerVjunwA7oB",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -5120,
        -1072
      ],
      "id": "570456bc-6ef2-4857-bf5f-59c4a3f813d2",
      "name": "audio-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "FrJOcerVjunwA7oB",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -5120,
        -912
      ],
      "id": "61d456c9-ab59-40e9-a600-d26a448e6ccd",
      "name": "WhatsApp Trigger",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "FrJOcerVjunwA7oB",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $json.session_id }}",
        "textBody": "Vi que ficou um tempinho off! Quer que eu te envie de novo os valores e detalhes dos pacotes pra facilitar?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -1920,
        -16
      ],
      "id": "aae35c36-6b81-44f1-a73c-091b707f3c5a",
      "name": "Send message",
      "webhookId": "a2500a08-b652-4d29-91c8-fed3605fb7a1",
      "credentials": {
        "whatsAppApi": {
          "id": "2neQX3azdVnlZi32",
          "name": "WhatsApp account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT session_id\nFROM chat_messages\nWHERE role = 'bot'\n  AND sent_at <= NOW() - INTERVAL '15 minutes'\n  AND rechamada = FALSE\n  AND sent_at = (\n      SELECT MAX(sent_at)\n      FROM chat_messages cm2\n      WHERE cm2.session_id = chat_messages.session_id\n  )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2144,
        -16
      ],
      "id": "9c51fb60-0fc3-47ac-a701-e0897737c740",
      "name": "SELECIONAR NUMERO USUARIO INAT.",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechamada": true,
            "session_id": "={{ $json.contacts[0].wa_id }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rechamada",
              "displayName": "rechamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1728,
        -16
      ],
      "id": "fff9b396-0135-4bd4-ad16-1831caeb42e4",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "tableName": "ai_chat_memory",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2768,
        -784
      ],
      "id": "9573d24b-e572-4899-9be5-8fa643931a64",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{$('WhatsApp Trigger').first().json.messages[0].from}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        -832
      ],
      "id": "0f99f8ef-60c9-43a2-98fc-3b10e6f5b434",
      "name": "Deleta horários das mensagens do usuário/bot",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "ai_chat_memory",
          "mode": "list",
          "cachedResultName": "ai_chat_memory"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{$('WhatsApp Trigger').first().json.messages[0].from}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        -832
      ],
      "id": "56ebd07e-925c-4448-b0b1-aaf4b30e9191",
      "name": "Deleta a memória do bot",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Banco de dados OFICIAL da UP Designer (Fonte da Verdade).\nUse para buscar:\n1. Preços, Itens Inclusos e Diferenças entre Planos (Bronze, Prata, Ouro e Avulsos).\n2. Links de Pagamento EXATOS (URLs da Cakto).\n3. Metodologia de Trabalho, Prazos e Dados de Segurança (CNPJ).\n⚠️ REGRA DE OURO: Faça APENAS UMA busca focada. As informações retornadas são completas e definitivas. NÃO refaça a busca.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -2656,
        -752
      ],
      "id": "df8bdd90-964c-4d2a-a2d7-deacdbad9634",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -3968,
        -176
      ],
      "id": "75990c80-664c-4379-b30c-af341a3b7b87",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Limpa a memória da IA (Contexto) mais velha que 7 dias\nDELETE FROM ai_chat_memory \nWHERE \"addedOn\" < NOW() - INTERVAL '7 days';\n\n-- 2. Limpa o registro de inatividade (Nudge) mais velho que 7 dias\nDELETE FROM chat_messages \nWHERE sent_at < NOW() - INTERVAL '7 days';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2144,
        -272
      ],
      "id": "4fdde1a7-0373-4eb5-8814-57769fe97a6f",
      "name": "Apagar linhas com mais de 7 dias",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2416,
        -16
      ],
      "id": "d9932a8b-2047-4178-88ba-67289bc043d0",
      "name": "Rodar a cada 5min",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38aec976-a32c-4b0e-85f4-c90adc16abc9",
              "name": "text",
              "type": "string",
              "value": "={{ $json.messages[0].text.body }}"
            },
            {
              "id": "5ae33a41-fdb6-42ba-a4df-6714a70e7073",
              "name": "from",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7c5070f6-94f1-48a9-b363-35bc28c1c520",
      "name": "edit text",
      "type": "n8n-nodes-base.set",
      "position": [
        -3776,
        -1184
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38aec976-a32c-4b0e-85f4-c90adc16abc9",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "5ae33a41-fdb6-42ba-a4df-6714a70e7073",
              "name": "from",
              "value": "={{ $('Route Types').item.json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0155e30f-18a8-4859-9831-40d3bfd36f22",
      "name": "edit audio",
      "type": "n8n-nodes-base.set",
      "position": [
        -3568,
        -928
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48af2dcc-4ce9-45fc-abfc-54f803930092",
              "name": "text",
              "type": "string",
              "value": "=User image description: {{ $json.content }}\n\nUser image caption: {{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Sem legenda fornecida\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "04d6ffb2-d3ec-4f19-bd13-87219605b7f1",
      "name": "edit image",
      "type": "n8n-nodes-base.set",
      "position": [
        -3728,
        -752
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da68bcca-a2a6-4676-8649-6fb1b664e44c",
              "name": "text",
              "type": "string",
              "value": "=Parsed text: {{ $json.text || $json.data || $json }}\n\nCaption text: {{ $('Route Types').item.json.messages[0].document.caption }}\n\nMimeType: {{ $('Gets WhatsApp Document Source URL').item.json.mime_type }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f67a3d31-240e-4d9d-a5fe-495f81191598",
      "name": "edit document",
      "type": "n8n-nodes-base.set",
      "position": [
        -3344,
        -688
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2416,
        -272
      ],
      "id": "505a4cb7-2d1f-42f8-a6b0-0bcf2d400c6d",
      "name": "Rodar todo dia às 4am",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 2. Tabela de Memória da IA (Corrigida para snake_case)\nCREATE TABLE IF NOT EXISTS ai_chat_memory (\n    \"id\" uuid NOT NULL DEFAULT gen_random_uuid(),\n    \"session_id\" varchar NOT NULL, -- Corrigido de sessionId para session_id\n    \"message\" jsonb NOT NULL,\n    \"addedOn\" timestamp NOT NULL DEFAULT now(),\n    CONSTRAINT \"PK_ai_chat_memory\" PRIMARY KEY (\"id\")\n);\nCREATE INDEX IF NOT EXISTS \"IDX_session_id\" ON ai_chat_memory (\"session_id\");\n\n-- 3. Tabela de Controle de Inatividade (Leve)\nCREATE TABLE IF NOT EXISTS chat_messages (\n    id SERIAL PRIMARY KEY,\n    session_id VARCHAR(30) NOT NULL,\n    role VARCHAR(10) NOT NULL,\n    sent_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW(),\n    rechamada BOOLEAN DEFAULT FALSE\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4896,
        -1552
      ],
      "id": "bd56a2e4-e85e-4537-8e05-b17da6cc71fd",
      "name": "CRIAR AS 2 TABELAS",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechamada": false,
            "role": "user",
            "session_id": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rechamada",
              "displayName": "rechamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2960,
        -992
      ],
      "id": "908d53b1-31d2-40b9-84d6-0e96c63e86a9",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM ai_chat_memory;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4688,
        -1840
      ],
      "id": "17a73c9f-00f8-45fb-b50a-de60d703ec74",
      "name": "deletar dados da tabela1",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechamada": false,
            "role": "bot",
            "session_id": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rechamada",
              "displayName": "rechamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        -1024
      ],
      "id": "317db8c5-09dc-4619-9f9c-ad0570ba858d",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE EXTENSION IF NOT EXISTS vector;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4704,
        -1552
      ],
      "id": "a624d5f4-9c8d-49e8-aa18-a5659b72de95",
      "name": "Rodar uma vez por banco de dados",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM chat_messages;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4848,
        -176
      ],
      "id": "631a2c85-817b-4060-8251-ff6a3985f586",
      "name": "deletar dados da tabela2",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM ai_chat_memory;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4624,
        -176
      ],
      "id": "23f83dea-f58a-4344-b6da-743e08b229ad",
      "name": "deletar dados da tabela3",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_vectors;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4400,
        -176
      ],
      "id": "4231ec82-cdc6-495d-88f9-78a9fc0626d5",
      "name": "Deletar documentos RAG",
      "credentials": {
        "postgres": {
          "id": "bV2NXDp0Xrl9LjsI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -5344,
        -928
      ],
      "id": "1ad60b8b-458d-45e4-95b6-dd330411b8b2",
      "name": "WhatsApp Trigger1",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "FrJOcerVjunwA7oB",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {
    "texto-disable": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Daniel Alvarez"
              },
              "wa_id": "5521969547552"
            }
          ],
          "messages": [
            {
              "from": "5521969547552",
              "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjA4RUE4M0YzMkNCNTlDQzY2QkEA",
              "timestamp": "1762519850",
              "text": {
                "body": "me diz mais desse plano"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ],
    "image-disable": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Daniel Alvarez"
              },
              "wa_id": "5521969547552"
            }
          ],
          "messages": [
            {
              "from": "5521969547552",
              "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjBEMkMxQ0E1QUU3QjJGRjU3NEQA",
              "timestamp": "1763653641",
              "type": "image",
              "image": {
                "mime_type": "image/jpeg",
                "sha256": "4L1Y1z0UYwCqnKmkYRcMwvednuRa+E0s/EG95QZqBbs=",
                "id": "812973104829074"
              }
            }
          ],
          "field": "messages"
        }
      }
    ],
    "pdf-disable": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Daniel Alvarez"
              },
              "wa_id": "5521969547552"
            }
          ],
          "messages": [
            {
              "from": "5521969547552",
              "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjA1OTM4NzQ0RkVERDk3NkJBNEMA",
              "timestamp": "1763653709",
              "type": "document",
              "document": {
                "filename": "CATALAGO UP DESIGNER.pdf",
                "mime_type": "application/pdf",
                "sha256": "Ud8IqBZRIA6v2ftFwZYJyd30uklUmbXVot0uwPdc5kg=",
                "id": "1150602070490685"
              }
            }
          ],
          "field": "messages"
        }
      }
    ],
    "audio-disable": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Daniel Alvarez"
              },
              "wa_id": "5521969547552"
            }
          ],
          "messages": [
            {
              "from": "5521969547552",
              "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjA3NDlBQ0JEQUYzNERERDJCQTEA",
              "timestamp": "1763648144",
              "type": "audio",
              "audio": {
                "mime_type": "audio/ogg; codecs=opus",
                "sha256": "uM6bssrQq+Ff2gFoMWxH6lqHqfEATP0c1VmnI3mY/K8=",
                "id": "1330983264905395",
                "voice": false
              }
            }
          ],
          "field": "messages"
        }
      }
    ],
    "WhatsApp Trigger1": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Patrick"
              },
              "wa_id": "5521984870401"
            }
          ],
          "messages": [
            {
              "from": "5521984870401",
              "id": "wamid.HBgNNTUyMTk4NDg3MDQwMRUCABIYIEFDRTBCRjFBNTI3NEUyNDczMDg4OEMwOTkyRjMwQTc5AA==",
              "timestamp": "1764939521",
              "type": "image",
              "image": {
                "mime_type": "image/jpeg",
                "sha256": "/JvrdZoxsH/TN3tuy/KjDIDVpc/YQwz7e9w98bVl2QQ=",
                "id": "4463425230637917",
                "url": "https://lookaside.fbsbx.com/whatsapp_business/attachments/?mid=4463425230637917&source=webhook&ext=1764939822&hash=ARly_i_nP9oWhRX22IUyWGOLXUpbxat-eYS6ccam24MNFg"
              }
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "connections": {
    "Knowledge Base Agent": {
      "main": [
        [
          {
            "node": "Processar Saída do Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "deletar dados da tabela2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Section Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Document Chunker": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Section Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs Importer": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "edit audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "edit image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "edit document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map file extensions": {
      "main": [
        [
          {
            "node": "Route Document Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets WhatsApp Voicemail Source URL": {
      "main": [
        [
          {
            "node": "Download Voicemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets WhatsApp Image Source URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets WhatsApp Document Source URL": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voicemail": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Map file extensions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Types": {
      "main": [
        [
          {
            "node": "edit text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gets WhatsApp Voicemail Source URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gets WhatsApp Image Source URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gets WhatsApp Document Source URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Document Types": {
      "main": [
        [
          {
            "node": "edit document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Unsupported Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detectar Links Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Deleta horários das mensagens do usuário/bot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Saída do Agente": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagens para Loop": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Links Pagamento": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Preparar Mensagens para Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Send Response1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "texto-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECIONAR NUMERO USUARIO INAT.": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Deleta horários das mensagens do usuário/bot": {
      "main": [
        [
          {
            "node": "Deleta a memória do bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Rodar a cada 5min": {
      "main": [
        [
          {
            "node": "SELECIONAR NUMERO USUARIO INAT.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit text": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit audio": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit image": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit document": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rodar todo dia às 4am": {
      "main": [
        [
          {
            "node": "Apagar linhas com mais de 7 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deletar dados da tabela2": {
      "main": [
        [
          {
            "node": "deletar dados da tabela3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deletar dados da tabela3": {
      "main": [
        [
          {
            "node": "Deletar documentos RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar documentos RAG": {
      "main": [
        [
          {
            "node": "Google Docs Importer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9df2730-a669-4382-9429-0e2b91e860d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d2689d3981dbb82aa6472cad37dec64e6149713c563c2747108f1e1d142702a"
  },
  "id": "8NxqbHwDFIaORGjO",
  "tags": []
}