chatbot postgres 5.0.json
{
  "name": "chatbot postgres 1.0",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM chat_messages;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -624,
        -160
      ],
      "id": "e56a052d-8e6b-4927-8233-558cda4adc49",
      "name": "deletar dados da tabela",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Opcional\n\n",
        "height": 256,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -224
      ],
      "id": "332186a5-32da-40fc-9aa6-75d52fafb10a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Obrigatório\n\n",
        "height": 272,
        "width": 912,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        48
      ],
      "id": "602ebf8f-132f-441b-ba32-2af109203f49",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\n  [\n    \"edit text\", \n    \"edit audio\", \n    \"edit image\", \n    \"edit document\"\n  ].map(nodeName => {\n    try {\n      return $(nodeName).item.json.text;\n    } catch (e) {\n      return \"\";\n    }\n  }).join(\"\") \n}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é Layon, consultor sênior da UP Designer.\nSua missão: Guiar o cliente desde a dúvida até o fechamento do contrato, seguindo RIGOROSAMENTE as etapas abaixo.\nTom de voz: Especialista, Empático, Seguro e Energético (Use emojis moderados: 🚀, ✅, 🤝).\n\n🚨 REGRAS DE OURO (RAG & SCRIPT):\n1. O 'Postgres PGVector Store' é SUA FONTE para PREÇOS e LINKS.\n2. SCRIPT FIXO: Nas etapas de Metodologia, use as frases exatas definidas abaixo.\n3. INSTRUÇÃO TÉCNICA: Responda APENAS com o JSON. Sem markdown, sem texto antes ou depois.\n\n🎯 FLUXO DE VENDAS OBRIGATÓRIO (Siga a sequência):\n\nETAPA 1: TRIAGEM E DIAGNÓSTICO\n- Se for o início: \"Opa! Que demais ter você aqui. Sou o Layon da UP Designer! 🚀 Pra eu te ajudar do jeito certo, me conta: Você já tem um logotipo ou está começando do zero?\"\n\nETAPA 2: ANÁLISE E ESPERANÇA (Regras 2 e 3)\n- Se o cliente JÁ TEM logo:\n  1. Peça para ver (se ainda não enviou).\n  2. Faça uma crítica construtiva técnica.\n  3. Aponte a melhoria necessária (DÊ ESPERANÇA). Ex: \"Dá para modernizar isso e passar muito mais autoridade...\"\n  4. Em seguida, pergunte sobre a \"base\" do que ele busca/imagina para alinhar a expectativa.\n- Se NÃO TEM logo: Valide a decisão de começar certo e pergunte sobre o negócio/público.\n\nETAPA 3: PERMISSÃO E METODOLOGIA (Regras 4 e 4.1)\n- Antes de falar preço, peça permissão: \"Posso te explicar rapidinho como nossa metodologia garante sua segurança e o resultado perfeito?\"\n- Se o cliente disser \"Sim/Pode\", ENVIE O SCRIPT EXATO:\n  \"A gente trabalha com modelo de contrato, assegurando juridicamente os nossos clientes. ✅\n   Todas as nossas formas de pagamento são feitas apenas pelo Mercado Pago, dando 100% de segurança de que o projeto será entregue. 🛡️\n   Além disso, trabalhamos com a modalidade de edições ilimitadas para ir de encontro com a sua ideia e te surpreender. 🚀\"\n\nETAPA 4: DÚVIDAS E OBJEÇÕES (Regra 5)\n- Logo após enviar a metodologia, pergunte: \"Ficou alguma dúvida sobre como funcionamos ou podemos seguir para os planos?\"\n\nETAPA 5: OFERTA E PREÇO (Regras 6 e 6.1 - USE O RAG)\n- Se o cliente pedir os planos/preços:\n  1. BUSQUE NO RAG POR: \"Resumo Planos Bronze Prata Ouro\".\n  2. Apresente os planos com valores e itens inclusos.\n  3. Termine perguntando: \"Qual desses combina mais com o momento atual da sua empresa?\"\n\nETAPA 6: FECHAMENTO (Regra 7)\n- Cliente escolheu o plano? Pergunte: \"Posso gerar o link seguro para iniciarmos agora?\"\n- Se \"Sim\": Busque no RAG por \"Link Pagamento [Nome do Plano]\" e envie.\n- Finalize com energia.\n\n🛡️ FORMATO DE RESPOSTA (JSON PURO):\n{\n    \"mensagens\": [\n       \"Mensagem 1 (Ex: A crítica construtiva...)\", \n       \"Mensagem 2 (Ex: A pergunta de gancho...)\"\n    ],\n    \"acao_sugerida\": \"continuar\" ou \"fechar_venda\"\n}",
          "maxIterations": 3
        }
      },
      "id": "39fe8533-5504-484a-af17-7ac6b00a2843",
      "name": "Knowledge Base Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1520,
        688
      ],
      "typeVersion": 1.9,
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "id": "a09f7926-95a6-4cd4-981a-724ff0af4049",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1344,
        896
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "mcydAKDAurhsfaeo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "45174dbd-1391-4d43-a00e-85436330e5c7",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        256,
        1744
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "mcydAKDAurhsfaeo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "eeae02bd-1ea8-48d6-881b-7351e5d0d4ee",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1296,
        1504
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "doc_id",
                "value": "={{ $json.documentId }}"
              }
            ]
          }
        }
      },
      "id": "6adf2612-3c4d-4b16-abd4-e8f1c77ea9f5",
      "name": "Document Section Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -352,
        1712
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "1aad09f2-5112-4593-8cf1-37adc7f4ed88",
      "name": "Document Chunker",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -400,
        1840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1SymjSl9JFpu40RDMLO4RIeedSjl-aURnRq9jyiqzAh4/edit?tab=t.0"
      },
      "id": "ac4f1b7d-aeb5-4e59-8555-c3b71f6ef973",
      "name": "Google Docs Importer",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        -352,
        1504
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "SCncN051KvlxSwG0",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "f012caa4-0848-4830-9761-de6ef8e1ccfe",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        336,
        752
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "mcydAKDAurhsfaeo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "o que está na imagem?",
        "inputType": "base64",
        "options": {
          "detail": "auto"
        }
      },
      "id": "40e4f3f1-1c56-412c-9675-d83019416013",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        336,
        928
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "mcydAKDAurhsfaeo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "bb0d742b-d86c-4113-8a14-2d60b1804c32",
      "name": "Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        752,
        1136
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "let requests = $(\"Download Document\").all()\n\nrequests.forEach((request) => {\n  let mime_type = request.json.mime_type\n\n  if (\n    mime_type === \"text/calendar\" || \n    mime_type === \"application/ics\" || \n    mime_type === \"text/x-calendar\"\n  ) {\n    request.json.mime_type = \"mapped/calendar\"\n  }\n\n  if (\n    mime_type === \"application/xml\" || \n    mime_type === \"text/xml\") {\n    request.json.mime_type = \"mapped/xml\"\n  }\n\n  if (!mime_type) {\n    request.json.mime_type = $('Gets WhatsApp Document Source URL').first().json.mime_type\n  }\n})\n\nreturn requests;"
      },
      "id": "bff22a50-acfe-4b2b-b44f-55b60e162e38",
      "name": "Map file extensions",
      "type": "n8n-nodes-base.code",
      "position": [
        336,
        1120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id}}"
      },
      "id": "ffde777e-d411-44dc-8943-5252455631f4",
      "name": "Gets WhatsApp Voicemail Source URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -112,
        752
      ],
      "webhookId": "bbe62f3d-8788-49d4-aae6-9e9411446d44",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "8NsIsTFbtfE2cumZ",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "id": "d9471a35-2dd1-4c77-a4e8-204d3cdc8300",
      "name": "Gets WhatsApp Image Source URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -112,
        928
      ],
      "webhookId": "c2982df4-1d8d-4669-a724-44ae17d11e6c",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "8NsIsTFbtfE2cumZ",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].document.id }}"
      },
      "id": "5301ed77-1fe0-49b8-8d92-f2ff1472969e",
      "name": "Gets WhatsApp Document Source URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -112,
        1120
      ],
      "webhookId": "c2982df4-1d8d-4669-a724-44ae17d11e6c",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "8NsIsTFbtfE2cumZ",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "b31e23d8-0b3d-42b4-a773-fe9019db2750",
      "name": "Download Voicemail",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        128,
        752
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qNGyOOimfrnxpJrs",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "e29327a8-16da-40a7-820c-6228125bb375",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        128,
        928
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qNGyOOimfrnxpJrs",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "fe10582b-b2ba-4277-a1da-e2d55d21b451",
      "name": "Download Document",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        128,
        1120
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qNGyOOimfrnxpJrs",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2fc5c912-629b-4cbe-b5e3-7e3f0651c628",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "26a3d85c-0815-48ff-85ce-713129a1107c",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "840b95b8-6559-4fb7-b32c-651451d6d0d2",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "image"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "3e7a07f9-b785-450c-8c68-f6b276838503",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "document"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {}
      },
      "id": "005bd72e-bb8e-4bfd-9ebc-13a563f54f0c",
      "name": "Route Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        -528,
        720
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "64dd4658-54e7-4453-adbc-7067dffcd555",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "text/plain"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "TXT"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "88b618fd-9a88-491e-91dd-c5fc9efa36e3",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "application/pdf"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ea3be820-2ead-4ec2-b292-42d3c7804b55",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ELSE"
            }
          ]
        },
        "options": {}
      },
      "id": "15b38f50-5fd2-40f4-adf2-ca03deba0dde",
      "name": "Route Document Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        544,
        1104
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "=Não trabalhamos com esse tipo de arquivo, poderia enviar no formato PDF ou texto?",
        "additionalFields": {}
      },
      "id": "644daec2-fa31-406a-97cf-a77f96854211",
      "name": "Send Unsupported Response",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        768,
        1312
      ],
      "webhookId": "017d267f-4897-4726-bf03-304ef10352bf",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "8NsIsTFbtfE2cumZ",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3424,
        672
      ],
      "id": "3f4385a4-de6e-4f31-9151-7a95963a81df",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9fdffeb0-3baa-4801-80d3-4cf3bcc1fc31",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3808,
        864
      ],
      "id": "84ea1468-97c6-42e2-a9af-5f5b4505f501",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Pega a saída do Agente\nconst output = $json.output || $json;\nconst result = [];\n\nif (output && Array.isArray(output.mensagens)) {\n  const mensagens = output.mensagens;\n\n  for (let i = 0; i < mensagens.length; i++) {\n    const msg = mensagens[i];\n    if (typeof msg === \"string\" && msg.trim() !== \"\") {\n      \n      // --- CORREÇÃO AQUI ---\n      // Substitui todas as ocorrências literais de \"\\n\" por uma quebra de linha real\n      let messageBody = msg.trim().replace(/\\\\n/g, '\\n'); \n      // ---------------------\n\n      result.push({\n        json: {\n          type: \"text\",\n          text: {\n            body: messageBody,\n          },\n          order: i + 1,\n        },\n      });\n    }\n  }\n}\n\n// Fallback se não houver mensagens\nif (result.length === 0) {\n  return [\n    {\n      json: {\n        type: \"text\",\n        text: {\n          body: \"Não entendi, pode repetir?\",\n        },\n        order: 1,\n      },\n    },\n  ];\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        688
      ],
      "id": "834a1d1c-ea45-4357-9125-b58dea053859",
      "name": "Processar Saída do Agente"
    },
    {
      "parameters": {
        "jsCode": "// Ajuste: Apontar para o nome correto do node do Agente\n// Se o node anterior já trazer o JSON, usamos o $json diretamente como fallback\nlet output = {};\n\ntry {\n  // Tenta pegar diretamente do Agente se ele existir no histórico\n  output = $('Knowledge Base Agent').first().json.output;\n} catch (e) {\n  // Se der erro (ex: teste manual isolado), tenta pegar do input atual\n  output = $json.output || $json;\n}\n\nconst result = [];\n// Lista de chaves que esperamos do Output Parser\nconst mensagens = [\"mensagens\", \"mensagem\", \"micro_cta\"];\n\n// Verifica se 'mensagens' é um array (formato novo do parser)\nif (output.mensagens && Array.isArray(output.mensagens)) {\n     for (let i = 0; i < output.mensagens.length; i++) {\n        result.push({\n            json: {\n                conteudo: output.mensagens[i],\n                type: \"message\",\n                order: i + 1\n            }\n        });\n    }\n} \n// Fallback para estrutura antiga ou simples string\nelse {\n    for (let i = 0; i < mensagens.length; i++) {\n      const key = mensagens[i];\n      const msg = output[key];\n\n      if (typeof msg === \"string\" && msg.trim() !== \"\") {\n        result.push({\n          json: {\n            conteudo: msg.trim(),\n            type: \"message\",\n            order: i + 1,\n          },\n        });\n      }\n    }\n}\n\nreturn result.length > 0 ? result : [{ json: { error: \"Nenhuma mensagem válida encontrada.\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        672
      ],
      "id": "8661dbee-44e1-4b5d-b540-212654c6a08c",
      "name": "Preparar Mensagens para Loop"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst links = [\n  \"https://pay.cakto.com.br/yprdmik_624343\",\n  \"https://pay.cakto.com.br/3bhwur2_624356\",\n  \"https://pay.cakto.com.br/37qb9pb_624361\"\n];\n\nlet resultado = false;\n\nfor (let i = 0; i < items.length; i++) {\n  const type = items[i].json.type || '';\n  const conteudo = items[i].json.conteudo || '';\n  if (\n    type === \"message\" &&\n    links.some(link => conteudo.includes(link))\n  ) {\n    resultado = true;\n    break;\n  }\n}\n\nreturn [{ json: { resultado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        864
      ],
      "id": "08342ae2-ef29-4f4f-9373-cfdf2780d790",
      "name": "Detectar Links Pagamento"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"description\": \"Lista exata de mensagens de texto para o WhatsApp.\",\n      \"items\": {\n        \"type\": \"string\",\n        \"description\": \"Texto da mensagem. Sem emojis soltos.\"\n      },\n      \"minItems\": 1,\n      \"maxItems\": 4\n    },\n    \"acao_sugerida\": {\n      \"type\": \"string\",\n      \"enum\": [\"continuar\", \"fechar_venda\"],\n      \"description\": \"Status da conversa.\"\n    }\n  },\n  \"required\": [\"mensagens\"]\n}",
        "autoFix": true,
        "customizeRetryPrompt": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1872,
        928
      ],
      "id": "357d1d89-2738-4a86-8f0d-ac03410ad9c8",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1872,
        1136
      ],
      "id": "e3e13207-ded3-4628-a506-c070e63dc834",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "mcydAKDAurhsfaeo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ATUALIZAR MEMÓRIA DO BANCO VETORIAL COM DOCUMENTO RAG",
        "height": 560,
        "width": 1600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1392,
        1408
      ],
      "typeVersion": 1,
      "id": "e7fee847-d64e-41c9-a120-b1ea12a2646e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2320,
        688
      ],
      "id": "99cefbda-c05b-401f-9413-be48075c5c00",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed295660-0139-4f86-b346-7c8170bb67dd",
              "name": "text.body",
              "value": "={{ $json.text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        896
      ],
      "id": "d4079ecd-9fc3-47e0-afd8-00ecd6e3883b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1616,
        1120
      ],
      "id": "97f8756c-39c9-419e-be45-7b73ba1516df",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "mcydAKDAurhsfaeo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.text.body }}",
        "additionalFields": {}
      },
      "id": "ac97e0b2-a911-473d-a9a9-9c27d0007760",
      "name": "Send Response1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        2832,
        896
      ],
      "webhookId": "23834751-5066-48ba-8e19-549680df2b27",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "8NsIsTFbtfE2cumZ",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3024,
        896
      ],
      "id": "6588e17c-2b1e-4cdb-a1ea-8b1ad35ae885",
      "name": "Wait2",
      "webhookId": "9573613e-6cae-4a18-871a-0386bfcaa193"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        928
      ],
      "id": "eb317b1b-57b0-4ba4-8ab3-767cad889d55",
      "name": "texto-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Vr6ZDV2hXdxRKXSv",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        1056
      ],
      "id": "75fd5e53-1a0e-4103-8787-f6f7a5771452",
      "name": "image-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Vr6ZDV2hXdxRKXSv",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        1200
      ],
      "id": "72c9e967-fd97-4066-8006-33fac7f860ab",
      "name": "pdf-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Vr6ZDV2hXdxRKXSv",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        624
      ],
      "id": "efb2e6f1-9eaa-4fdd-94a7-b88b6a05b58a",
      "name": "audio-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Vr6ZDV2hXdxRKXSv",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        768
      ],
      "id": "c9ada2ef-ec45-4de7-89e3-17fe51c12e43",
      "name": "WhatsApp Trigger",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Vr6ZDV2hXdxRKXSv",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $json.session_id }}",
        "textBody": "Vi que ficou um tempinho off! Quer que eu te envie de novo os valores e detalhes dos pacotes pra facilitar?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2352,
        1664
      ],
      "id": "c5bb4fa5-5656-473a-a9ae-378a24e665cf",
      "name": "Send message",
      "webhookId": "a2500a08-b652-4d29-91c8-fed3605fb7a1",
      "credentials": {
        "whatsAppApi": {
          "id": "8NsIsTFbtfE2cumZ",
          "name": "WhatsApp account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT session_id\nFROM chat_messages\nWHERE role = 'bot'\n  AND sent_at <= NOW() - INTERVAL '15 minutes'\n  AND rechamada = FALSE\n  AND sent_at = (\n      SELECT MAX(sent_at)\n      FROM chat_messages cm2\n      WHERE cm2.session_id = chat_messages.session_id\n  )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2128,
        1664
      ],
      "id": "7279ddf7-2737-4a79-94e2-edae8407f018",
      "name": "SELECIONAR NUMERO USUARIO INAT.",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechamada": true,
            "session_id": "={{ $json.contacts[0].wa_id }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rechamada",
              "displayName": "rechamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2544,
        1664
      ],
      "id": "0e9acda4-cff2-49fc-8d89-d5569c3b6fb0",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "tableName": "ai_chat_memory",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1504,
        896
      ],
      "id": "90177f64-f963-41ca-81fc-372454e84a8b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{$('WhatsApp Trigger').first().json.messages[0].from}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4048,
        848
      ],
      "id": "4b1a8161-63e8-4296-bbbd-d2bb22d5329d",
      "name": "Deleta horários das mensagens do usuário/bot",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "ai_chat_memory",
          "mode": "list",
          "cachedResultName": "ai_chat_memory"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{$('WhatsApp Trigger').first().json.messages[0].from}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4256,
        848
      ],
      "id": "770e9517-d9dd-4a3d-b00e-76db3db20690",
      "name": "Deleta a memória do bot",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Banco de dados OFICIAL da UP Designer (Fonte da Verdade).\nUse para buscar:\n1. Preços, Itens Inclusos e Diferenças entre Planos (Bronze, Prata, Ouro e Avulsos).\n2. Links de Pagamento EXATOS (URLs da Cakto).\n3. Metodologia de Trabalho, Prazos e Dados de Segurança (CNPJ).\n⚠️ REGRA DE OURO: Faça APENAS UMA busca focada. As informações retornadas são completas e definitivas. NÃO refaça a busca.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1616,
        928
      ],
      "id": "f79d534b-7615-464f-a99f-d364cbaba1e7",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -144,
        1504
      ],
      "id": "56e07bb8-23b1-4811-bcce-4f97b992e1f6",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Limpa a memória da IA (Contexto) mais velha que 7 dias\nDELETE FROM ai_chat_memory \nWHERE \"addedOn\" < NOW() - INTERVAL '7 days';\n\n-- 2. Limpa o registro de inatividade (Nudge) mais velho que 7 dias\nDELETE FROM chat_messages \nWHERE sent_at < NOW() - INTERVAL '7 days';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2128,
        1408
      ],
      "id": "48c14d4a-9e0c-4345-8c72-e497f55fff66",
      "name": "Apagar linhas com mais de 7 dias",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1856,
        1664
      ],
      "id": "41c2a740-c044-4fca-bfac-92e7ed9a3a08",
      "name": "Rodar a cada 5min",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38aec976-a32c-4b0e-85f4-c90adc16abc9",
              "name": "text",
              "type": "string",
              "value": "={{ $json.messages[0].text.body }}"
            },
            {
              "id": "5ae33a41-fdb6-42ba-a4df-6714a70e7073",
              "name": "from",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4d72c6b3-1788-4853-bba7-be5b56cbe8a2",
      "name": "edit text",
      "type": "n8n-nodes-base.set",
      "position": [
        496,
        496
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38aec976-a32c-4b0e-85f4-c90adc16abc9",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "5ae33a41-fdb6-42ba-a4df-6714a70e7073",
              "name": "from",
              "value": "={{ $('Route Types').item.json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fe635ab7-fa4c-4153-9d2c-53901dba5e2e",
      "name": "edit audio",
      "type": "n8n-nodes-base.set",
      "position": [
        704,
        752
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48af2dcc-4ce9-45fc-abfc-54f803930092",
              "name": "text",
              "type": "string",
              "value": "=User image description: {{ $json.content }}\n\nUser image caption: {{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Sem legenda fornecida\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ed531af2-4b86-4375-9aeb-1d89338f90fa",
      "name": "edit image",
      "type": "n8n-nodes-base.set",
      "position": [
        544,
        928
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da68bcca-a2a6-4676-8649-6fb1b664e44c",
              "name": "text",
              "type": "string",
              "value": "=Parsed text: {{ $json.text || $json.data || $json }}\n\nCaption text: {{ $('Route Types').item.json.messages[0].document.caption }}\n\nMimeType: {{ $('Gets WhatsApp Document Source URL').item.json.mime_type }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0475097f-50ca-4c9d-b4cc-b4e9f3fcdf8c",
      "name": "edit document",
      "type": "n8n-nodes-base.set",
      "position": [
        928,
        992
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1856,
        1408
      ],
      "id": "d8d54b23-dc3f-41f3-b9a7-46de9c18189e",
      "name": "Rodar todo dia às 4am",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 2. Tabela de Memória da IA (Corrigida para snake_case)\nCREATE TABLE IF NOT EXISTS ai_chat_memory (\n    \"id\" uuid NOT NULL DEFAULT gen_random_uuid(),\n    \"session_id\" varchar NOT NULL, -- Corrigido de sessionId para session_id\n    \"message\" jsonb NOT NULL,\n    \"addedOn\" timestamp NOT NULL DEFAULT now(),\n    CONSTRAINT \"PK_ai_chat_memory\" PRIMARY KEY (\"id\")\n);\nCREATE INDEX IF NOT EXISTS \"IDX_session_id\" ON ai_chat_memory (\"session_id\");\n\n-- 3. Tabela de Controle de Inatividade (Leve)\nCREATE TABLE IF NOT EXISTS chat_messages (\n    id SERIAL PRIMARY KEY,\n    session_id VARCHAR(30) NOT NULL,\n    role VARCHAR(10) NOT NULL,\n    sent_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW(),\n    rechamada BOOLEAN DEFAULT FALSE\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -624,
        128
      ],
      "id": "90829360-191a-4caf-95bb-7f5d1d666ce9",
      "name": "CRIAR AS 2 TABELAS",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechamada": false,
            "role": "user",
            "session_id": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rechamada",
              "displayName": "rechamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1312,
        688
      ],
      "id": "ec6eb87d-db37-467a-90b6-34a6102c97ad",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM ai_chat_memory;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        -160
      ],
      "id": "276f31ed-c20b-4baf-8e09-10505c3408c8",
      "name": "deletar dados da tabela1",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechamada": false,
            "role": "bot",
            "session_id": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rechamada",
              "displayName": "rechamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4048,
        656
      ],
      "id": "8600f42c-f5c3-484c-907b-ce36e0688e75",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE EXTENSION IF NOT EXISTS vector;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -432,
        128
      ],
      "id": "da7b6dd7-708c-4b99-b971-5f31dd5bd887",
      "name": "Rodar uma vez por banco de dados",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM chat_messages;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1024,
        1504
      ],
      "id": "579d9880-4465-4e47-afd8-c2c0f92f29c0",
      "name": "deletar dados da tabela2",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM ai_chat_memory;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -800,
        1504
      ],
      "id": "e992e646-bc48-4c11-821b-ae7ef970681c",
      "name": "deletar dados da tabela3",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_vectors;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -576,
        1504
      ],
      "id": "2341d2e8-2bbb-4d92-b271-068e6d538158",
      "name": "Deletar documentos RAG",
      "credentials": {
        "postgres": {
          "id": "eFUWrbhHc04hWN2o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        752
      ],
      "id": "3883f859-202e-4f77-8f05-f1c0e8c7eb03",
      "name": "WhatsApp Trigger1",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Vr6ZDV2hXdxRKXSv",
          "name": "WhatsApp OAuth account"
        }
      }
    }
  ],
  "pinData": {
    "texto-disable": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Daniel Alvarez"
              },
              "wa_id": "5521969547552"
            }
          ],
          "messages": [
            {
              "from": "5521969547552",
              "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjA4RUE4M0YzMkNCNTlDQzY2QkEA",
              "timestamp": "1762519850",
              "text": {
                "body": "me diz mais desse plano"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ],
    "image-disable": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Daniel Alvarez"
              },
              "wa_id": "5521969547552"
            }
          ],
          "messages": [
            {
              "from": "5521969547552",
              "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjBEMkMxQ0E1QUU3QjJGRjU3NEQA",
              "timestamp": "1763653641",
              "type": "image",
              "image": {
                "mime_type": "image/jpeg",
                "sha256": "4L1Y1z0UYwCqnKmkYRcMwvednuRa+E0s/EG95QZqBbs=",
                "id": "812973104829074"
              }
            }
          ],
          "field": "messages"
        }
      }
    ],
    "pdf-disable": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Daniel Alvarez"
              },
              "wa_id": "5521969547552"
            }
          ],
          "messages": [
            {
              "from": "5521969547552",
              "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjA1OTM4NzQ0RkVERDk3NkJBNEMA",
              "timestamp": "1763653709",
              "type": "document",
              "document": {
                "filename": "CATALAGO UP DESIGNER.pdf",
                "mime_type": "application/pdf",
                "sha256": "Ud8IqBZRIA6v2ftFwZYJyd30uklUmbXVot0uwPdc5kg=",
                "id": "1150602070490685"
              }
            }
          ],
          "field": "messages"
        }
      }
    ],
    "audio-disable": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Daniel Alvarez"
              },
              "wa_id": "5521969547552"
            }
          ],
          "messages": [
            {
              "from": "5521969547552",
              "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjA3NDlBQ0JEQUYzNERERDJCQTEA",
              "timestamp": "1763648144",
              "type": "audio",
              "audio": {
                "mime_type": "audio/ogg; codecs=opus",
                "sha256": "uM6bssrQq+Ff2gFoMWxH6lqHqfEATP0c1VmnI3mY/K8=",
                "id": "1330983264905395",
                "voice": false
              }
            }
          ],
          "field": "messages"
        }
      }
    ],
    "WhatsApp Trigger1": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Patrick"
              },
              "wa_id": "5521984870401"
            }
          ],
          "messages": [
            {
              "from": "5521984870401",
              "id": "wamid.HBgNNTUyMTk4NDg3MDQwMRUCABIYIEFDRTBCRjFBNTI3NEUyNDczMDg4OEMwOTkyRjMwQTc5AA==",
              "timestamp": "1764939521",
              "type": "image",
              "image": {
                "mime_type": "image/jpeg",
                "sha256": "/JvrdZoxsH/TN3tuy/KjDIDVpc/YQwz7e9w98bVl2QQ=",
                "id": "4463425230637917",
                "url": "https://lookaside.fbsbx.com/whatsapp_business/attachments/?mid=4463425230637917&source=webhook&ext=1764939822&hash=ARly_i_nP9oWhRX22IUyWGOLXUpbxat-eYS6ccam24MNFg"
              }
            }
          ],
          "field": "messages"
        }
      }
    ],
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Patrick"
              },
              "wa_id": "5521984870401"
            }
          ],
          "messages": [
            {
              "from": "5521984870401",
              "id": "wamid.HBgNNTUyMTk4NDg3MDQwMRUCABIYFDNGREFEQTRCMTQ2M0Q2Q0E4NkM0AA==",
              "timestamp": "1764941723",
              "text": {
                "body": "quero que tenha algo mais a ver com marketing digital"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "connections": {
    "Knowledge Base Agent": {
      "main": [
        [
          {
            "node": "Processar Saída do Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "deletar dados da tabela2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Section Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Document Chunker": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Section Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs Importer": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "edit audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "edit image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "edit document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map file extensions": {
      "main": [
        [
          {
            "node": "Route Document Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets WhatsApp Voicemail Source URL": {
      "main": [
        [
          {
            "node": "Download Voicemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets WhatsApp Image Source URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets WhatsApp Document Source URL": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voicemail": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Map file extensions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Types": {
      "main": [
        [
          {
            "node": "edit text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gets WhatsApp Voicemail Source URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gets WhatsApp Image Source URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gets WhatsApp Document Source URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Document Types": {
      "main": [
        [
          {
            "node": "edit document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Unsupported Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detectar Links Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Deleta horários das mensagens do usuário/bot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Saída do Agente": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagens para Loop": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Links Pagamento": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Preparar Mensagens para Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Send Response1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "texto-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECIONAR NUMERO USUARIO INAT.": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Deleta horários das mensagens do usuário/bot": {
      "main": [
        [
          {
            "node": "Deleta a memória do bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Rodar a cada 5min": {
      "main": [
        [
          {
            "node": "SELECIONAR NUMERO USUARIO INAT.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit text": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit audio": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit image": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit document": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rodar todo dia às 4am": {
      "main": [
        [
          {
            "node": "Apagar linhas com mais de 7 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deletar dados da tabela2": {
      "main": [
        [
          {
            "node": "deletar dados da tabela3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deletar dados da tabela3": {
      "main": [
        [
          {
            "node": "Deletar documentos RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar documentos RAG": {
      "main": [
        [
          {
            "node": "Google Docs Importer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "32637af7-6e30-4b6e-99bd-9a6242bd284e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4a8578c63c32def82afaf167073afbb2ff5663c9fb26d8303c645b81983a736"
  },
  "id": "9aQ3sZl3hipb3lNE",
  "tags": []
}