inatividade-trigger.json
{
  "name": "inatividade-trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        -16
      ],
      "id": "3acbfd8a-6c1f-4a15-98de-2b1e64f2469a",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $json.session_id }}",
        "textBody": "Vi que ficou um tempinho off! Quer que eu te envie de novo os valores e detalhes dos pacotes pra facilitar?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        160,
        -16
      ],
      "id": "02041479-6262-4be2-9e8b-2e497bd450ee",
      "name": "Send message",
      "webhookId": "a2500a08-b652-4d29-91c8-fed3605fb7a1",
      "credentials": {
        "whatsAppApi": {
          "id": "ybwEeYM1TLoQuAK9",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT session_id\nFROM chat_messages\nWHERE role = 'bot'\n  AND sent_at <= NOW() - INTERVAL '1 minutes'\n  AND rechamada = FALSE\n  AND sent_at = (\n      SELECT MAX(sent_at)\n      FROM chat_messages cm2\n      WHERE cm2.session_id = chat_messages.session_id\n  )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        -16
      ],
      "id": "39febc21-a967-401d-b3ad-dec64af68a78",
      "name": "SELECIONAR NUMERO USUARIO INAT.",
      "credentials": {
        "postgres": {
          "id": "1sA6ADEC79MbQgBk",
          "name": "postgres-patrick-render"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechamada": true,
            "session_id": "={{ $json.contacts[0].wa_id }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rechamada",
              "displayName": "rechamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        -16
      ],
      "id": "9991da1c-ca99-4a24-858d-3a2b649fd90f",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "1sA6ADEC79MbQgBk",
          "name": "postgres-patrick-render"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "SELECIONAR NUMERO USUARIO INAT.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECIONAR NUMERO USUARIO INAT.": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "51dbd92d-2d99-4b01-86bc-ce25ad5d889e",
  "meta": {
    "instanceId": "75788b527e8c3abb1c23bdbbe339b194ba7dce9e88d5e581b0bcfb79492c9c2d"
  },
  "id": "VPThU0Owx5PyfKTc",
  "tags": []
}