teste-gemini.txt
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE chat_messages (\n    id SERIAL PRIMARY KEY,\n    session_id VARCHAR(30) NOT NULL,   -- agora já no tipo correto\n    role VARCHAR(10) NOT NULL,\n    sent_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW(),\n    rechamada BOOLEAN DEFAULT FALSE\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        240
      ],
      "id": "d8266631-2d12-4816-b132-bb09f3d1e68f",
      "name": "CRIAR TABELAS",
      "credentials": {
        "postgres": {
          "id": "ivwvGfV3mP2x0tok",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM chat_messages;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        -32
      ],
      "id": "523ffbaf-e8dc-405c-982d-51b1a26bfad4",
      "name": "deletar dados da tabela",
      "credentials": {
        "postgres": {
          "id": "ivwvGfV3mP2x0tok",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS ai_chat_memory (\n    -- 1. Identidade Única da linha\n    \"id\" uuid NOT NULL DEFAULT gen_random_uuid(),\n    -- 2. O \"Crachá\" do Cliente (Número do WhatsApp)\n    \"session_id\" varchar NOT NULL,\n    -- 3. A Conversa em si (O Segredo)\n    \"message\" jsonb NOT NULL,\n    -- 4. O Relógio (Para limpar depois)\n    \"addedOn\" timestamp NOT NULL DEFAULT now(),\n    -- 5. A Chave Mestra\n    CONSTRAINT \"PK_ai_chat_memory\" PRIMARY KEY (\"id\")\n);\n-- 6. O Turbo (Índice)\nCREATE INDEX IF NOT EXISTS \"IDX_session_id\" ON ai_chat_memory (\"sessionId\");",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        240
      ],
      "id": "26b33082-b475-4f02-825d-512f940e8971",
      "name": "CRIAR TABELA MEMORIA1",
      "credentials": {
        "postgres": {
          "id": "ivwvGfV3mP2x0tok",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Opcional\n\n",
        "height": 256,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -96
      ],
      "id": "be629866-1961-4567-bf18-012a4c461da7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Obrigatório\n\n",
        "height": 272,
        "width": 672,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        176
      ],
      "id": "50281b37-995c-4486-ae43-cb03e068b040",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER TABLE chat_messages DROP COLUMN message;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        -32
      ],
      "id": "39cc2e9a-09ea-4bd4-89b5-aa1453ae11b6",
      "name": "Dropar coluna message da tabela chat_messages",
      "credentials": {
        "postgres": {
          "id": "ivwvGfV3mP2x0tok",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é Layon, consultor de vendas sênior da UP Designer.\nSua missão: Aplicar o Método Vendedor-Consultivo com alta energia e empatia. Seu objetivo é fechar a venda do plano ideal (Bronze, Prata ou Ouro) após um diagnóstico rápido.\n\n🎯 FLUXO DE VENDAS (PRIORIDADE):\n1. SAUDAÇÃO E CONEXÃO:\n   - Para o primeiro contato (\"Quero um logo\", \"Oi\"): Responda com entusiasmo e crie credibilidade imediatamente. Use emojis moderados para soar humano.\n   - Sua primeira mensagem deve ser: \"Opa, que demais! É um prazer ajudar você a construir sua marca. Fazemos isso desde 2003 e somos referência no mercado! 🚀\"\n2. SONDAGEM E DIAGNÓSTICO:\n   - Sua segunda mensagem DEVE ser a pergunta de diagnóstico. NUNCA ofereça plano antes disso.\n   - A pergunta deve focar no *resultado* que o cliente espera.\n   - Pergunta Guia: \"Me conta: Qual é o ramo principal da sua empresa e qual é o *resultado* exato que você quer ver com essa nova logo (mais autoridade, mais vendas no Instagram, mais confiança)?\"\n3. OFERTA:\n   - Somente depois de receber o ramo e o resultado, use a base de conhecimento para oferecer o **Plano Prata**. Conecte o plano ao nicho e ao resultado.\n\n🎧 CORREÇÃO DE ÁUDIO:\n- Use o contexto. Entenda \"alugo\" como \"Logo\" e \"intuição\" como \"Atuação\".\n\n🛡️ PROTOCOLO TÉCNICO (Mantenha a estabilidade do fluxo):\n- LINKS: Proibido inventar URLs. Você DEVE consultar a 'Redis Vector Store' para obter o link exato (https://...).\n- FORMATO: Você DEVE usar a ferramenta 'format_final_json_response' para entregar a resposta. JAMAIS texto solto.\n- MENSAGENS: Use o limite de Máximo 2 mensagens curtas.",
          "maxIterations": 3
        }
      },
      "id": "4ab8591d-e8d8-472c-89a5-6f8732f5e22a",
      "name": "Knowledge Base Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2096,
        816
      ],
      "typeVersion": 1.9,
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "id": "6d663835-90de-4c68-ae37-8f6454f2ae34",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1920,
        1024
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "D78krBsAw2Hodcfx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b7ac95c8-8b4f-4a3b-b442-06ec1cc61c03",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        624,
        1808
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "D78krBsAw2Hodcfx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "02a69406-e4a6-4bea-a4e8-abbb84c41773",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -208,
        1568
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "doc_id",
                "value": "={{ $json.documentId }}"
              }
            ]
          }
        }
      },
      "id": "aec8beee-70fc-488c-a817-9e45fe289cfd",
      "name": "Document Section Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        16,
        1776
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "36df55fa-3507-4caa-90ed-d315aaea151c",
      "name": "Document Chunker",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -32,
        1904
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1SymjSl9JFpu40RDMLO4RIeedSjl-aURnRq9jyiqzAh4/edit?tab=t.0"
      },
      "id": "48218fa0-5cf8-4c73-81aa-4aba318ddf88",
      "name": "Google Docs Importer",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        16,
        1568
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "iU7p4hVWLr9xxUCO",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "699ae0c2-d147-43e7-9e97-f78da226f723",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        912,
        880
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "D78krBsAw2Hodcfx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "o que está na imagem?",
        "inputType": "base64",
        "options": {
          "detail": "auto"
        }
      },
      "id": "b34a9fc9-f95c-4935-be52-9260018cc89e",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        912,
        1056
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "D78krBsAw2Hodcfx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "cb374737-4092-494a-a3e9-0cd7d918932a",
      "name": "Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1328,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "let requests = $(\"Download Document\").all()\n\nrequests.forEach((request) => {\n  let mime_type = request.json.mime_type\n\n  if (\n    mime_type === \"text/calendar\" || \n    mime_type === \"application/ics\" || \n    mime_type === \"text/x-calendar\"\n  ) {\n    request.json.mime_type = \"mapped/calendar\"\n  }\n\n  if (\n    mime_type === \"application/xml\" || \n    mime_type === \"text/xml\") {\n    request.json.mime_type = \"mapped/xml\"\n  }\n\n  if (!mime_type) {\n    request.json.mime_type = $('Gets WhatsApp Document Source URL').first().json.mime_type\n  }\n})\n\nreturn requests;"
      },
      "id": "6663fbe8-af4f-4844-8973-94852c3ec408",
      "name": "Map file extensions",
      "type": "n8n-nodes-base.code",
      "position": [
        912,
        1248
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da68bcca-a2a6-4676-8649-6fb1b664e44c",
              "name": "text",
              "type": "string",
              "value": "=Parsed text: {{ $json.text || $json.data || $json }}\n\nCaption text: {{ $('Route Types').item.json.messages[0].document.caption }}\n\nMimeType: {{ $('Gets WhatsApp Document Source URL').item.json.mime_type }}"
            }
          ]
        },
        "options": {}
      },
      "id": "068e9cfa-c66c-4543-ac43-62ba1aed818b",
      "name": "Map document prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        1504,
        1120
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48af2dcc-4ce9-45fc-abfc-54f803930092",
              "name": "text",
              "type": "string",
              "value": "=User image description: {{ $json.content }}\n\nUser image caption: {{ $('Route Types').item.json.messages[0].image.caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b4fdf444-c91c-43e4-9c49-1769ccad7f43",
      "name": "Map image prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        1120,
        1056
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38aec976-a32c-4b0e-85f4-c90adc16abc9",
              "name": "text",
              "type": "string",
              "value": "={{ $json.messages[0].text.body }}"
            },
            {
              "id": "5ae33a41-fdb6-42ba-a4df-6714a70e7073",
              "name": "from",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6bb21871-3cbf-407c-b616-40febe44aaf8",
      "name": "Map text prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        1072,
        624
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id}}"
      },
      "id": "80ffdd49-97c8-47bb-8160-60b791e1f544",
      "name": "Gets WhatsApp Voicemail Source URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        464,
        880
      ],
      "webhookId": "bbe62f3d-8788-49d4-aae6-9e9411446d44",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "gt8NRLsrgv54Abqj",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "id": "712f5546-27cf-464e-92c1-085791a05409",
      "name": "Gets WhatsApp Image Source URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        464,
        1056
      ],
      "webhookId": "c2982df4-1d8d-4669-a724-44ae17d11e6c",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "gt8NRLsrgv54Abqj",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].document.id }}"
      },
      "id": "28c6e957-672e-4bf4-b41c-8737292f35d5",
      "name": "Gets WhatsApp Document Source URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        464,
        1248
      ],
      "webhookId": "c2982df4-1d8d-4669-a724-44ae17d11e6c",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "gt8NRLsrgv54Abqj",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "1a014976-5c43-4f40-a6cd-65f18cf752a5",
      "name": "Download Voicemail",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        704,
        880
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "l77AtrtCgUP2NL9S",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "b3931237-b515-4cfc-becc-3f069c77ac6e",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        704,
        1056
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "l77AtrtCgUP2NL9S",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "b26f440d-7cf4-437f-9ba1-2bce38d1a0ca",
      "name": "Download Document",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        704,
        1248
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "l77AtrtCgUP2NL9S",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2fc5c912-629b-4cbe-b5e3-7e3f0651c628",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "26a3d85c-0815-48ff-85ce-713129a1107c",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "840b95b8-6559-4fb7-b32c-651451d6d0d2",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "image"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "3e7a07f9-b785-450c-8c68-f6b276838503",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "document"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {}
      },
      "id": "bac6614e-54cb-45b6-bac3-7b183a5aadde",
      "name": "Route Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        48,
        848
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "64dd4658-54e7-4453-adbc-7067dffcd555",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "text/plain"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "TXT"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "88b618fd-9a88-491e-91dd-c5fc9efa36e3",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "application/pdf"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ea3be820-2ead-4ec2-b292-42d3c7804b55",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ELSE"
            }
          ]
        },
        "options": {}
      },
      "id": "55854b0b-5951-4777-8d90-943f48bdb6c3",
      "name": "Route Document Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        1120,
        1232
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "=Não trabalhamos com esse tipo de arquivo, poderia enviar no formato PDF ou texto?",
        "additionalFields": {}
      },
      "id": "423bc399-ef33-486f-a17e-8b84ec233405",
      "name": "Send Unsupported Response",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1344,
        1440
      ],
      "webhookId": "017d267f-4897-4726-bf03-304ef10352bf",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "gt8NRLsrgv54Abqj",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "redisIndex": {
          "__rl": true,
          "value": "rag_index",
          "mode": "id"
        },
        "options": {
          "overwriteDocuments": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1.3,
      "position": [
        224,
        1568
      ],
      "id": "ea5f84a4-dbda-48e3-b305-6b8e85e8b51d",
      "name": "Redis Vector Store",
      "credentials": {
        "redis": {
          "id": "LWK8WKRsS6muhwJ1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Banco de dados de Preços, Links de Pagamento e Argumentos de Venda.\nSempre que precisar saber um valor, um link ou o que está incluso no plano, consulte aqui.\nContém a URL exata para pagamento.",
        "redisIndex": {
          "__rl": true,
          "value": "rag_index",
          "mode": "list",
          "cachedResultName": "rag_index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1.3,
      "position": [
        2176,
        1056
      ],
      "id": "01b385a0-6dcb-45a7-9748-5fc48844cf6f",
      "name": "Redis Vector Store1",
      "credentials": {
        "redis": {
          "id": "LWK8WKRsS6muhwJ1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4672,
        896
      ],
      "id": "a53b8cec-e650-400c-be54-ddde2797cfee",
      "name": "Wait",
      "webhookId": "3351e441-efc0-4a0d-b036-bd71aa589ed3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4224,
        896
      ],
      "id": "a018da80-d940-4c1e-bcc7-e8c55bdfed70",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9fdffeb0-3baa-4801-80d3-4cf3bcc1fc31",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4608,
        1088
      ],
      "id": "6e210022-7a99-4bcf-b8a5-9fccd6eea457",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Pega a saída do Agente (que agora é {\"mensagens\": [\"msg1\", \"msg2\"]})\nconst output = $json.output || $json;\nconst result = [];\n\nif (output && Array.isArray(output.mensagens)) {\n  const mensagens = output.mensagens;\n\n  for (let i = 0; i < mensagens.length; i++) {\n    const msg = mensagens[i];\n    if (typeof msg === \"string\" && msg.trim() !== \"\") {\n      // Cria um item de saída para cada mensagem na lista\n      result.push({\n        json: {\n          type: \"text\",\n          text: {\n            body: msg.trim(),\n          },\n          order: i + 1,\n        },\n      });\n    }\n  }\n}\n\n// Se der erro ou a IA não retornar nada, envia uma msg padrão\nif (result.length === 0) {\n  return [\n    {\n      json: {\n        type: \"text\",\n        text: {\n          body: \"Não entendi, pode repetir?\",\n        },\n        order: 1,\n      },\n    },\n  ];\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        848
      ],
      "id": "402096f4-e9f3-466e-87e0-4dc2336b1dec",
      "name": "Processar Saída do Agente"
    },
    {
      "parameters": {
        "jsCode": "// Ajuste: Apontar para o nome correto do node do Agente\n// Se o node anterior já trazer o JSON, usamos o $json diretamente como fallback\nlet output = {};\n\ntry {\n  // Tenta pegar diretamente do Agente se ele existir no histórico\n  output = $('Knowledge Base Agent').first().json.output;\n} catch (e) {\n  // Se der erro (ex: teste manual isolado), tenta pegar do input atual\n  output = $json.output || $json;\n}\n\nconst result = [];\n// Lista de chaves que esperamos do Output Parser\nconst mensagens = [\"mensagens\", \"mensagem\", \"micro_cta\"];\n\n// Verifica se 'mensagens' é um array (formato novo do parser)\nif (output.mensagens && Array.isArray(output.mensagens)) {\n     for (let i = 0; i < output.mensagens.length; i++) {\n        result.push({\n            json: {\n                conteudo: output.mensagens[i],\n                type: \"message\",\n                order: i + 1\n            }\n        });\n    }\n} \n// Fallback para estrutura antiga ou simples string\nelse {\n    for (let i = 0; i < mensagens.length; i++) {\n      const key = mensagens[i];\n      const msg = output[key];\n\n      if (typeof msg === \"string\" && msg.trim() !== \"\") {\n        result.push({\n          json: {\n            conteudo: msg.trim(),\n            type: \"message\",\n            order: i + 1,\n          },\n        });\n      }\n    }\n}\n\nreturn result.length > 0 ? result : [{ json: { error: \"Nenhuma mensagem válida encontrada.\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        832
      ],
      "id": "3b6b2dd2-d9cb-4cbd-ac9c-44be09b3bdbb",
      "name": "Preparar Mensagens para Loop"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst links = [\n  \"https://pay.cakto.com.br/yprdmik_624343\",\n  \"https://pay.cakto.com.br/3bhwur2_624356\",\n  \"https://pay.cakto.com.br/37qb9pb_624361\"\n];\n\nlet resultado = false;\n\nfor (let i = 0; i < items.length; i++) {\n  const type = items[i].json.type || '';\n  const conteudo = items[i].json.conteudo || '';\n  if (\n    type === \"message\" &&\n    links.some(link => conteudo.includes(link))\n  ) {\n    resultado = true;\n    break;\n  }\n}\n\nreturn [{ json: { resultado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4448,
        1088
      ],
      "id": "8eca6157-1a19-410a-8685-2f2b96339099",
      "name": "Detectar Links Pagamento"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"description\": \"Lista exata de mensagens de texto para o WhatsApp.\",\n      \"items\": {\n        \"type\": \"string\",\n        \"description\": \"Texto da mensagem. Sem emojis soltos.\"\n      },\n      \"minItems\": 1,\n      \"maxItems\": 2\n    },\n    \"acao_sugerida\": {\n      \"type\": \"string\",\n      \"enum\": [\"continuar\", \"fechar_venda\"],\n      \"description\": \"Status da conversa.\"\n    }\n  },\n  \"required\": [\"mensagens\"]\n}",
        "autoFix": true,
        "customizeRetryPrompt": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2448,
        1056
      ],
      "id": "acbffa14-97c1-4dae-a250-0cbbd61503a8",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2432,
        1264
      ],
      "id": "2a2a6308-e625-4719-97a5-34ecbe5ea8c4",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "D78krBsAw2Hodcfx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ATUALIZAR MEMÓRIA DO BANCO VETORIAL COM DOCUMENTO RAG",
        "height": 512,
        "width": 1152,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        1472
      ],
      "typeVersion": 1,
      "id": "49f8c4cd-777c-42d2-83d1-7b8638b817df",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38aec976-a32c-4b0e-85f4-c90adc16abc9",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "5ae33a41-fdb6-42ba-a4df-6714a70e7073",
              "name": "from",
              "value": "={{ $('Route Types').item.json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d33fefe8-c69c-4ce3-b9e4-030eb8bfb720",
      "name": "Map text prompt (audio)",
      "type": "n8n-nodes-base.set",
      "position": [
        1280,
        880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2896,
        848
      ],
      "id": "72ba9874-fdd2-4725-8fb9-741e0df42f99",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed295660-0139-4f86-b346-7c8170bb67dd",
              "name": "text.body",
              "value": "={{ $json.text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3216,
        1056
      ],
      "id": "7e5fbbee-3c84-4f01-a540-d6ca00dcb536",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2144,
        1264
      ],
      "id": "1958562f-eeb2-42b9-b32e-193f2914a01a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "D78krBsAw2Hodcfx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.text.body }}",
        "additionalFields": {}
      },
      "id": "4b8c25e9-6f06-4bbf-ba46-1cd72885bd15",
      "name": "Send Response1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        3408,
        1056
      ],
      "webhookId": "23834751-5066-48ba-8e19-549680df2b27",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "gt8NRLsrgv54Abqj",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3600,
        1056
      ],
      "id": "e3f8cd59-4433-4058-a973-4a65d3425612",
      "name": "Wait2",
      "webhookId": "9573613e-6cae-4a18-871a-0386bfcaa193"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        1056
      ],
      "id": "264e081f-c222-42da-83ca-5ecb73d3047c",
      "name": "texto-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "aGRjruGHgGuVO5C1",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        1184
      ],
      "id": "7c661bbd-5f77-4bfb-9c83-b652e4d3530c",
      "name": "image-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "aGRjruGHgGuVO5C1",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        1328
      ],
      "id": "d9013352-ac61-4315-a6b3-1fb1bb244dd4",
      "name": "pdf-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "aGRjruGHgGuVO5C1",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        752
      ],
      "id": "6c739680-244a-4db9-be1b-1db6120601df",
      "name": "audio-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "aGRjruGHgGuVO5C1",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        912
      ],
      "id": "dd3779b7-a9f5-4e78-88ef-85c412bebb88",
      "name": "WhatsApp Trigger",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "aGRjruGHgGuVO5C1",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2432,
        1792
      ],
      "id": "f3746129-2244-4e71-906a-a834b50db09e",
      "name": "Schedule Trigger1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $json.session_id }}",
        "textBody": "Vi que ficou um tempinho off! Quer que eu te envie de novo os valores e detalhes dos pacotes pra facilitar?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2928,
        1792
      ],
      "id": "242db387-2dea-41ad-87d4-5d46bf324045",
      "name": "Send message",
      "webhookId": "a2500a08-b652-4d29-91c8-fed3605fb7a1",
      "credentials": {
        "whatsAppApi": {
          "id": "gt8NRLsrgv54Abqj",
          "name": "WhatsApp account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT session_id\nFROM chat_messages\nWHERE role = 'bot'\n  AND sent_at <= NOW() - INTERVAL '1 minutes'\n  AND rechamada = FALSE\n  AND sent_at = (\n      SELECT MAX(sent_at)\n      FROM chat_messages cm2\n      WHERE cm2.session_id = chat_messages.session_id\n  )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2704,
        1792
      ],
      "id": "08290e3f-9a22-4a6c-af9c-f23d1c7ad399",
      "name": "SELECIONAR NUMERO USUARIO INAT.",
      "credentials": {
        "postgres": {
          "id": "ivwvGfV3mP2x0tok",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechamada": true,
            "session_id": "={{ $json.contacts[0].wa_id }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rechamada",
              "displayName": "rechamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3120,
        1792
      ],
      "id": "e26f2744-05de-433e-abbe-06bb409f458b",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "ivwvGfV3mP2x0tok",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "tableName": "ai_chat_memory",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2080,
        1024
      ],
      "id": "141bb754-14c3-4221-9303-0913e3f6bf2f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ivwvGfV3mP2x0tok",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechamada": false,
            "session_id": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
            "message": "=",
            "sent_at": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "role": "user"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rechamada",
              "displayName": "rechamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4448,
        896
      ],
      "id": "256a8f59-2aad-4398-b04f-022c42864460",
      "name": "Armazenar horário da msg do usuário",
      "credentials": {
        "postgres": {
          "id": "ivwvGfV3mP2x0tok",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechamada": false,
            "session_id": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
            "message": "=",
            "sent_at": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "role": "bot"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rechamada",
              "displayName": "rechamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4864,
        896
      ],
      "id": "c96746a6-657d-403b-a780-0e0b9694b924",
      "name": "Armazenar horário da msg do bot",
      "credentials": {
        "postgres": {
          "id": "ivwvGfV3mP2x0tok",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{$('WhatsApp Trigger').first().json.messages[0].from}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4848,
        1072
      ],
      "id": "22da7807-94ac-4a14-b74c-97516d8cb196",
      "name": "Deleta horários das mensagens do usuário/bot",
      "credentials": {
        "postgres": {
          "id": "ivwvGfV3mP2x0tok",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "ai_chat_memory",
          "mode": "list",
          "cachedResultName": "ai_chat_memory"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "sessionId",
              "value": "={{$('WhatsApp Trigger').first().json.messages[0].from}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5056,
        1072
      ],
      "id": "caf6b144-e891-464b-b866-58b6b9949b37",
      "name": "Deleta a memória do bot",
      "credentials": {
        "postgres": {
          "id": "ivwvGfV3mP2x0tok",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Knowledge Base Agent": {
      "main": [
        [
          {
            "node": "Processar Saída do Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Redis Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Docs Importer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Section Loader": {
      "ai_document": [
        [
          {
            "node": "Redis Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Document Chunker": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Section Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs Importer": {
      "main": [
        [
          {
            "node": "Redis Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Map text prompt (audio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Map image prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Map document prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map file extensions": {
      "main": [
        [
          {
            "node": "Route Document Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map document prompt": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map image prompt": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map text prompt": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets WhatsApp Voicemail Source URL": {
      "main": [
        [
          {
            "node": "Download Voicemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets WhatsApp Image Source URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets WhatsApp Document Source URL": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voicemail": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Map file extensions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Types": {
      "main": [
        [
          {
            "node": "Map text prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gets WhatsApp Voicemail Source URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gets WhatsApp Image Source URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gets WhatsApp Document Source URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Document Types": {
      "main": [
        [
          {
            "node": "Map document prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Unsupported Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Armazenar horário da msg do bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Armazenar horário da msg do usuário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detectar Links Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Deleta horários das mensagens do usuário/bot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Saída do Agente": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagens para Loop": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Links Pagamento": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Map text prompt (audio)": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Preparar Mensagens para Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Redis Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Send Response1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "texto-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "SELECIONAR NUMERO USUARIO INAT.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECIONAR NUMERO USUARIO INAT.": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Armazenar horário da msg do usuário": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta horários das mensagens do usuário/bot": {
      "main": [
        [
          {
            "node": "Deleta a memória do bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "texto-disable": [
      {
        "messaging_product": "whatsapp",
        "metadata": {
          "display_phone_number": "15551791204",
          "phone_number_id": "740050119202275"
        },
        "contacts": [
          {
            "profile": {
              "name": "Daniel Alvarez"
            },
            "wa_id": "5521969547552"
          }
        ],
        "messages": [
          {
            "from": "5521969547552",
            "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjA4RUE4M0YzMkNCNTlDQzY2QkEA",
            "timestamp": "1762519850",
            "text": {
              "body": "me diz mais desse plano"
            },
            "type": "text"
          }
        ],
        "field": "messages"
      }
    ],
    "image-disable": [
      {
        "messaging_product": "whatsapp",
        "metadata": {
          "display_phone_number": "15551791204",
          "phone_number_id": "740050119202275"
        },
        "contacts": [
          {
            "profile": {
              "name": "Daniel Alvarez"
            },
            "wa_id": "5521969547552"
          }
        ],
        "messages": [
          {
            "from": "5521969547552",
            "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjBEMkMxQ0E1QUU3QjJGRjU3NEQA",
            "timestamp": "1763653641",
            "type": "image",
            "image": {
              "mime_type": "image/jpeg",
              "sha256": "4L1Y1z0UYwCqnKmkYRcMwvednuRa+E0s/EG95QZqBbs=",
              "id": "812973104829074"
            }
          }
        ],
        "field": "messages"
      }
    ],
    "pdf-disable": [
      {
        "messaging_product": "whatsapp",
        "metadata": {
          "display_phone_number": "15551791204",
          "phone_number_id": "740050119202275"
        },
        "contacts": [
          {
            "profile": {
              "name": "Daniel Alvarez"
            },
            "wa_id": "5521969547552"
          }
        ],
        "messages": [
          {
            "from": "5521969547552",
            "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjA1OTM4NzQ0RkVERDk3NkJBNEMA",
            "timestamp": "1763653709",
            "type": "document",
            "document": {
              "filename": "CATALAGO UP DESIGNER.pdf",
              "mime_type": "application/pdf",
              "sha256": "Ud8IqBZRIA6v2ftFwZYJyd30uklUmbXVot0uwPdc5kg=",
              "id": "1150602070490685"
            }
          }
        ],
        "field": "messages"
      }
    ],
    "audio-disable": [
      {
        "messaging_product": "whatsapp",
        "metadata": {
          "display_phone_number": "15551791204",
          "phone_number_id": "740050119202275"
        },
        "contacts": [
          {
            "profile": {
              "name": "Daniel Alvarez"
            },
            "wa_id": "5521969547552"
          }
        ],
        "messages": [
          {
            "from": "5521969547552",
            "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjA3NDlBQ0JEQUYzNERERDJCQTEA",
            "timestamp": "1763648144",
            "type": "audio",
            "audio": {
              "mime_type": "audio/ogg; codecs=opus",
              "sha256": "uM6bssrQq+Ff2gFoMWxH6lqHqfEATP0c1VmnI3mY/K8=",
              "id": "1330983264905395",
              "voice": false
            }
          }
        ],
        "field": "messages"
      }
    ],
    "WhatsApp Trigger": [
      {
        "messaging_product": "whatsapp",
        "metadata": {
          "display_phone_number": "15551791204",
          "phone_number_id": "740050119202275"
        },
        "contacts": [
          {
            "profile": {
              "name": "Daniel Alvarez"
            },
            "wa_id": "5521969547552"
          }
        ],
        "messages": [
          {
            "from": "5521969547552",
            "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjBGN0FFRDZGMkQwOEMzMDY4RkYA",
            "timestamp": "1764423313",
            "text": {
              "body": "qual meu nome?"
            },
            "type": "text"
          }
        ],
        "field": "messages"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab6439418944ccbc15695f3e05a5440b91b7a808e3e7dc59924e49f122756839"
  }
}