Workflow-completo-v4.6(sem-buffer)-.json
{
  "name": "sem-buffer-4.5",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é Layon, consultor de vendas sênior da UP Designer.\nSua missão: Aplicar o Método Vendedor-Consultivo com alta energia e empatia. Seu objetivo é fechar a venda do plano ideal (Bronze, Prata ou Ouro) após um diagnóstico rápido.\n\n🎯 FLUXO DE VENDAS (PRIORIDADE):\n1. SAUDAÇÃO E CONEXÃO:\n   - Para o primeiro contato (\"Quero um logo\", \"Oi\"): Responda com entusiasmo e crie credibilidade imediatamente. Use emojis moderados para soar humano.\n   - Sua primeira mensagem deve ser: \"Opa, que demais! É um prazer ajudar você a construir sua marca. Fazemos isso desde 2003 e somos referência no mercado! 🚀\"\n2. SONDAGEM E DIAGNÓSTICO:\n   - Sua segunda mensagem DEVE ser a pergunta de diagnóstico. NUNCA ofereça plano antes disso.\n   - A pergunta deve focar no *resultado* que o cliente espera.\n   - Pergunta Guia: \"Me conta: Qual é o ramo principal da sua empresa e qual é o *resultado* exato que você quer ver com essa nova logo (mais autoridade, mais vendas no Instagram, mais confiança)?\"\n3. OFERTA:\n   - Somente depois de receber o ramo e o resultado, use a base de conhecimento para oferecer o **Plano Prata**. Conecte o plano ao nicho e ao resultado.\n\n🎧 CORREÇÃO DE ÁUDIO:\n- Use o contexto. Entenda \"alugo\" como \"Logo\" e \"intuição\" como \"Atuação\".\n\n🛡️ PROTOCOLO TÉCNICO (Mantenha a estabilidade do fluxo):\n- LINKS: Proibido inventar URLs. Você DEVE consultar a 'Redis Vector Store' para obter o link exato (https://...).\n- FORMATO: Você DEVE usar a ferramenta 'format_final_json_response' para entregar a resposta. JAMAIS texto solto.\n- MENSAGENS: Use o limite de Máximo 2 mensagens curtas.",
          "maxIterations": 3
        }
      },
      "id": "aafecfd1-f033-42c3-b408-96643a33adf4",
      "name": "Knowledge Base Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2288,
        -896
      ],
      "typeVersion": 1.9,
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "id": "9a60a5a9-65e0-4417-8e17-4fa1e0214a98",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2464,
        -688
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "IkULidvoIgc2b80h",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "394a0945-d345-498e-804a-14e64c93f089",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -3760,
        64
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "IkULidvoIgc2b80h",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "0675c0f2-3944-4717-935e-fe91ca19d569",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -4592,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "doc_id",
                "value": "={{ $json.documentId }}"
              }
            ]
          }
        }
      },
      "id": "635e2b14-105e-489f-a7aa-01e747cf9b0b",
      "name": "Document Section Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -4368,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "7bb042ef-c755-4b83-8baa-1cfe337ea64b",
      "name": "Document Chunker",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -4416,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1SymjSl9JFpu40RDMLO4RIeedSjl-aURnRq9jyiqzAh4/edit?tab=t.0"
      },
      "id": "3aff08f8-7439-4f82-af3d-aeebf3fc5d3f",
      "name": "Google Docs Importer",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        -4368,
        -160
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "MtRDyOdgNtO5fdgE",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "Run this workflow manually to import and index Google Docs product documentation into MongoDB with vector embeddings for fast search.",
        "color": 5
      },
      "id": "77fed567-0887-40c9-a02f-65f74e095017",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4944,
        -1680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Search Index Example \n\n{\n  \"mappings\": {\n    \"dynamic\": false,\n    \"fields\": {\n      \"_id\": {\n        \"type\": \"string\"\n      },\n      \"text\": {\n        \"type\": \"string\"\n      },\n      \"embedding\": {\n        \"type\": \"knnVector\",\n        \"dimensions\": 1536,\n        \"similarity\": \"cosine\"\n      },\n      \"source\": {\n        \"type\": \"string\"\n      },\n      \"doc_id\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}\n",
        "height": 540
      },
      "id": "ec102979-e060-4667-b940-bf28001e2d3c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3712,
        -1680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "5ed84c64-d4af-4b88-a56a-b7ad1254d257",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -3472,
        -832
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "IkULidvoIgc2b80h",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "o que está na imagem?",
        "inputType": "base64",
        "options": {
          "detail": "auto"
        }
      },
      "id": "9c86c88c-203b-4643-8f94-cbfe7f20c037",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -3472,
        -656
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "IkULidvoIgc2b80h",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "de476cad-83aa-4691-b3dd-ed05652a4afc",
      "name": "Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -3056,
        -448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "let requests = $(\"Download Document\").all()\n\nrequests.forEach((request) => {\n  let mime_type = request.json.mime_type\n\n  if (\n    mime_type === \"text/calendar\" || \n    mime_type === \"application/ics\" || \n    mime_type === \"text/x-calendar\"\n  ) {\n    request.json.mime_type = \"mapped/calendar\"\n  }\n\n  if (\n    mime_type === \"application/xml\" || \n    mime_type === \"text/xml\") {\n    request.json.mime_type = \"mapped/xml\"\n  }\n\n  if (!mime_type) {\n    request.json.mime_type = $('Gets WhatsApp Document Source URL').first().json.mime_type\n  }\n})\n\nreturn requests;"
      },
      "id": "8657cc5c-cf6d-491d-89c1-c6f40a0f4037",
      "name": "Map file extensions",
      "type": "n8n-nodes-base.code",
      "position": [
        -3472,
        -464
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da68bcca-a2a6-4676-8649-6fb1b664e44c",
              "name": "text",
              "type": "string",
              "value": "=Parsed text: {{ $json.text || $json.data || $json }}\n\nCaption text: {{ $('Route Types').item.json.messages[0].document.caption }}\n\nMimeType: {{ $('Gets WhatsApp Document Source URL').item.json.mime_type }}"
            }
          ]
        },
        "options": {}
      },
      "id": "47d4d52a-f370-4ec7-8f10-1036eb079b9c",
      "name": "Map document prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        -2880,
        -592
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48af2dcc-4ce9-45fc-abfc-54f803930092",
              "name": "text",
              "type": "string",
              "value": "=User image description: {{ $json.content }}\n\nUser image caption: {{ $('Route Types').item.json.messages[0].image.caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5487c4e0-bbd7-4e92-8901-4d2bc1232cdb",
      "name": "Map image prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        -3264,
        -656
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38aec976-a32c-4b0e-85f4-c90adc16abc9",
              "name": "text",
              "type": "string",
              "value": "={{ $json.messages[0].text.body }}"
            },
            {
              "id": "5ae33a41-fdb6-42ba-a4df-6714a70e7073",
              "name": "from",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c69e64bc-ed1f-4752-879e-825d9f76abcd",
      "name": "Map text prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        -3312,
        -1088
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id}}"
      },
      "id": "b1dd9b70-1749-417e-8c31-de605cc4c7a8",
      "name": "Gets WhatsApp Voicemail Source URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -3920,
        -832
      ],
      "webhookId": "bbe62f3d-8788-49d4-aae6-9e9411446d44",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "ybwEeYM1TLoQuAK9",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "id": "d2cbacca-e0c0-465d-bfb4-4cd9d9398c88",
      "name": "Gets WhatsApp Image Source URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -3920,
        -656
      ],
      "webhookId": "c2982df4-1d8d-4669-a724-44ae17d11e6c",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "ybwEeYM1TLoQuAK9",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].document.id }}"
      },
      "id": "4ede8020-35cc-4a2f-8022-c3c2b56a3369",
      "name": "Gets WhatsApp Document Source URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -3920,
        -464
      ],
      "webhookId": "c2982df4-1d8d-4669-a724-44ae17d11e6c",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "ybwEeYM1TLoQuAK9",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "44e9616f-62be-4c81-9b3d-87d7402a5b70",
      "name": "Download Voicemail",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3680,
        -832
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "diobi3IcP2BRMjWP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "755ad0c0-a742-4372-90c9-a92d81224f0b",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3680,
        -656
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "diobi3IcP2BRMjWP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "293aa71c-3a83-4847-acc6-6dcbb8ddde7c",
      "name": "Download Document",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3680,
        -464
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "diobi3IcP2BRMjWP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2fc5c912-629b-4cbe-b5e3-7e3f0651c628",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "26a3d85c-0815-48ff-85ce-713129a1107c",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "840b95b8-6559-4fb7-b32c-651451d6d0d2",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "image"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "3e7a07f9-b785-450c-8c68-f6b276838503",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "document"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {}
      },
      "id": "86385906-f6f6-48a3-b70f-9e4f2e66587e",
      "name": "Route Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        -4336,
        -864
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "64dd4658-54e7-4453-adbc-7067dffcd555",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "text/plain"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "TXT"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "88b618fd-9a88-491e-91dd-c5fc9efa36e3",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "application/pdf"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ea3be820-2ead-4ec2-b292-42d3c7804b55",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ELSE"
            }
          ]
        },
        "options": {}
      },
      "id": "6ca05c12-c6b0-471e-8065-632a67051009",
      "name": "Route Document Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        -3264,
        -480
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "=Não trabalhamos com esse tipo de arquivo, poderia enviar no formato PDF ou texto?",
        "additionalFields": {}
      },
      "id": "17c7a2eb-3cbb-41c5-b092-ca46ebc553b5",
      "name": "Send Unsupported Response",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -3040,
        -272
      ],
      "webhookId": "017d267f-4897-4726-bf03-304ef10352bf",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "ybwEeYM1TLoQuAK9",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "redisIndex": {
          "__rl": true,
          "value": "rag_index",
          "mode": "id"
        },
        "options": {
          "overwriteDocuments": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1.3,
      "position": [
        -4160,
        -160
      ],
      "id": "a977932e-53af-42c0-ba75-9d4e0d1302cc",
      "name": "Redis Vector Store",
      "credentials": {
        "redis": {
          "id": "N4TjalwFH2y2hlbZ",
          "name": "redis-original-patrick"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Banco de dados de Preços, Links de Pagamento e Argumentos de Venda.\nSempre que precisar saber um valor, um link ou o que está incluso no plano, consulte aqui.\nContém a URL exata para pagamento.",
        "redisIndex": {
          "__rl": true,
          "value": "rag_index",
          "mode": "list",
          "cachedResultName": "rag_index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1.3,
      "position": [
        -2208,
        -656
      ],
      "id": "e3095f6e-13a4-495e-827f-ea8d66d3546f",
      "name": "Redis Vector Store1",
      "credentials": {
        "redis": {
          "id": "N4TjalwFH2y2hlbZ",
          "name": "redis-original-patrick"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -2336,
        -640
      ],
      "id": "879173be-4537-4926-b04a-234da26a92cc",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "N4TjalwFH2y2hlbZ",
          "name": "redis-original-patrick"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechamada": false,
            "session_id": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
            "message": "=",
            "sent_at": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "role": "user"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rechamada",
              "displayName": "rechamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        -816
      ],
      "id": "c6c58be5-cac7-47fe-9139-d274a11c4232",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "1sA6ADEC79MbQgBk",
          "name": "postgres-patrick-render"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechamada": false,
            "session_id": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
            "message": "=",
            "sent_at": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "role": "bot"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rechamada",
              "displayName": "rechamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        -816
      ],
      "id": "e6ed906e-600a-402f-98b1-3d1bcdac14d9",
      "name": "MESSAGE 1",
      "credentials": {
        "postgres": {
          "id": "1sA6ADEC79MbQgBk",
          "name": "postgres-patrick-render"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        288,
        -816
      ],
      "id": "dd7d2077-a1ae-4c75-880b-6ea9eb8bb5ce",
      "name": "Wait",
      "webhookId": "3351e441-efc0-4a0d-b036-bd71aa589ed3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        -816
      ],
      "id": "a35ff984-d0c0-4655-92bf-a95ac56fde85",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{$('WhatsApp Trigger').first().json.messages[0].from}}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        416,
        -640
      ],
      "id": "5393cb75-16e4-4725-a9d2-b54e8b0bb62d",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "N4TjalwFH2y2hlbZ",
          "name": "redis-original-patrick"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9fdffeb0-3baa-4801-80d3-4cf3bcc1fc31",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -624
      ],
      "id": "08617c0c-fdfb-46b5-8ca5-b705affa1857",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{$('WhatsApp Trigger').first().json.messages[0].from}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        -640
      ],
      "id": "343fc1eb-5f6f-4529-bc1c-ff7965c4e612",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "1sA6ADEC79MbQgBk",
          "name": "postgres-patrick-render"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega a saída do Agente (que agora é {\"mensagens\": [\"msg1\", \"msg2\"]})\nconst output = $json.output || $json;\nconst result = [];\n\nif (output && Array.isArray(output.mensagens)) {\n  const mensagens = output.mensagens;\n\n  for (let i = 0; i < mensagens.length; i++) {\n    const msg = mensagens[i];\n    if (typeof msg === \"string\" && msg.trim() !== \"\") {\n      // Cria um item de saída para cada mensagem na lista\n      result.push({\n        json: {\n          type: \"text\",\n          text: {\n            body: msg.trim(),\n          },\n          order: i + 1,\n        },\n      });\n    }\n  }\n}\n\n// Se der erro ou a IA não retornar nada, envia uma msg padrão\nif (result.length === 0) {\n  return [\n    {\n      json: {\n        type: \"text\",\n        text: {\n          body: \"Não entendi, pode repetir?\",\n        },\n        order: 1,\n      },\n    },\n  ];\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        -864
      ],
      "id": "8d3e609a-5831-4dee-976e-d94af346cd38",
      "name": "Processar Saída do Agente"
    },
    {
      "parameters": {
        "jsCode": "// Ajuste: Apontar para o nome correto do node do Agente\n// Se o node anterior já trazer o JSON, usamos o $json diretamente como fallback\nlet output = {};\n\ntry {\n  // Tenta pegar diretamente do Agente se ele existir no histórico\n  output = $('Knowledge Base Agent').first().json.output;\n} catch (e) {\n  // Se der erro (ex: teste manual isolado), tenta pegar do input atual\n  output = $json.output || $json;\n}\n\nconst result = [];\n// Lista de chaves que esperamos do Output Parser\nconst mensagens = [\"mensagens\", \"mensagem\", \"micro_cta\"];\n\n// Verifica se 'mensagens' é um array (formato novo do parser)\nif (output.mensagens && Array.isArray(output.mensagens)) {\n     for (let i = 0; i < output.mensagens.length; i++) {\n        result.push({\n            json: {\n                conteudo: output.mensagens[i],\n                type: \"message\",\n                order: i + 1\n            }\n        });\n    }\n} \n// Fallback para estrutura antiga ou simples string\nelse {\n    for (let i = 0; i < mensagens.length; i++) {\n      const key = mensagens[i];\n      const msg = output[key];\n\n      if (typeof msg === \"string\" && msg.trim() !== \"\") {\n        result.push({\n          json: {\n            conteudo: msg.trim(),\n            type: \"message\",\n            order: i + 1,\n          },\n        });\n      }\n    }\n}\n\nreturn result.length > 0 ? result : [{ json: { error: \"Nenhuma mensagem válida encontrada.\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -864
      ],
      "id": "9e340bb6-6398-4254-996c-cc91ab12bf46",
      "name": "Preparar Mensagens para Loop"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst links = [\n  \"https://pay.cakto.com.br/yprdmik_624343\",\n  \"https://pay.cakto.com.br/3bhwur2_624356\",\n  \"https://pay.cakto.com.br/37qb9pb_624361\"\n];\n\nlet resultado = false;\n\nfor (let i = 0; i < items.length; i++) {\n  const type = items[i].json.type || '';\n  const conteudo = items[i].json.conteudo || '';\n  if (\n    type === \"message\" &&\n    links.some(link => conteudo.includes(link))\n  ) {\n    resultado = true;\n    break;\n  }\n}\n\nreturn [{ json: { resultado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -624
      ],
      "id": "8a443c35-f61d-4170-a0c2-0387a788636b",
      "name": "Detectar Links Pagamento"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"description\": \"Lista exata de mensagens de texto para o WhatsApp.\",\n      \"items\": {\n        \"type\": \"string\",\n        \"description\": \"Texto da mensagem. Sem emojis soltos.\"\n      },\n      \"minItems\": 1,\n      \"maxItems\": 2\n    },\n    \"acao_sugerida\": {\n      \"type\": \"string\",\n      \"enum\": [\"continuar\", \"fechar_venda\"],\n      \"description\": \"Status da conversa.\"\n    }\n  },\n  \"required\": [\"mensagens\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1936,
        -656
      ],
      "id": "463aa11b-7858-4b75-b27c-d1551a08d0be",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1952,
        -448
      ],
      "id": "13d8b7bf-92a8-418c-bde1-7fbde5c19d3c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "IkULidvoIgc2b80h",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ATUALIZAR MEMÓRIA DO BANCO VETORIAL COM DOCUMENTO RAG",
        "height": 512,
        "width": 1152,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4752,
        -240
      ],
      "typeVersion": 1,
      "id": "f075368c-36ce-4d83-a67d-e28720b96fb8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38aec976-a32c-4b0e-85f4-c90adc16abc9",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "5ae33a41-fdb6-42ba-a4df-6714a70e7073",
              "name": "from",
              "value": "={{ $('Route Types').item.json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "63332ff9-251e-4060-bbe7-78af9ea3973e",
      "name": "Map text prompt (audio)",
      "type": "n8n-nodes-base.set",
      "position": [
        -3104,
        -832
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1488,
        -864
      ],
      "id": "50d1c141-25d8-4deb-aeb5-9f66d53e2478",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed295660-0139-4f86-b346-7c8170bb67dd",
              "name": "text.body",
              "value": "={{ $json.text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        -656
      ],
      "id": "dd5ccd3a-7b3f-4a86-8161-12525b4eedda",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2240,
        -448
      ],
      "id": "0087e968-323f-4a3c-94ba-29dd8921d39f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "IkULidvoIgc2b80h",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.text.body }}",
        "additionalFields": {}
      },
      "id": "698e0ebf-a48e-459a-9c1e-7dd85c1a002f",
      "name": "Send Response1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -976,
        -656
      ],
      "webhookId": "23834751-5066-48ba-8e19-549680df2b27",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "ybwEeYM1TLoQuAK9",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -784,
        -656
      ],
      "id": "c5dfa68f-d404-4c97-a4b0-b9532cdbabed",
      "name": "Wait2",
      "webhookId": "9573613e-6cae-4a18-871a-0386bfcaa193"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -4656,
        -656
      ],
      "id": "b5f15557-2772-43db-ba18-30882397eb12",
      "name": "texto-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "9CVvCpngsO7huJ7p",
          "name": "patrick-oauth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -4656,
        -528
      ],
      "id": "72bc50f7-022c-4ea1-85c0-9558ef268985",
      "name": "image-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "9CVvCpngsO7huJ7p",
          "name": "patrick-oauth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -4656,
        -384
      ],
      "id": "5c97d74d-c3df-4561-977c-05c57450b95e",
      "name": "pdf-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "9CVvCpngsO7huJ7p",
          "name": "patrick-oauth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -4656,
        -960
      ],
      "id": "33154091-5e87-450b-bd33-32f43333ad21",
      "name": "audio-disable",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "9CVvCpngsO7huJ7p",
          "name": "patrick-oauth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -4656,
        -800
      ],
      "id": "e8b32a1d-5e4b-4f54-a4ec-f5d439e83398",
      "name": "WhatsApp Trigger",
      "webhookId": "b6d5af8e-c681-485c-a908-66e00a629386",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "i1kWdJlY4wdPtDfg",
          "name": "daniel-oauth"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE chat_messages (\n    id SERIAL PRIMARY KEY,\n    session_id VARCHAR(30) NOT NULL,   -- agora já no tipo correto\n    role VARCHAR(10) NOT NULL,\n    message TEXT NOT NULL,\n    sent_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW(),\n    rechamada BOOLEAN DEFAULT FALSE\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4368,
        -1184
      ],
      "id": "853a74af-e99a-449f-8c2b-2e885a416ace",
      "name": "CRIAR TABELAS",
      "credentials": {
        "postgres": {
          "id": "1sA6ADEC79MbQgBk",
          "name": "postgres-patrick-render"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM chat_messages;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4160,
        -1184
      ],
      "id": "e9ea7f0a-929d-4a8f-a5aa-c73e3dd74e4d",
      "name": "deletar dados da tabela",
      "credentials": {
        "postgres": {
          "id": "1sA6ADEC79MbQgBk",
          "name": "postgres-patrick-render"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1952,
        48
      ],
      "id": "de3f97c4-89c7-42e3-b8f4-5086340f5506",
      "name": "Schedule Trigger1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "740050119202275",
        "recipientPhoneNumber": "={{ $json.session_id }}",
        "textBody": "Vi que ficou um tempinho off! Quer que eu te envie de novo os valores e detalhes dos pacotes pra facilitar?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -1456,
        48
      ],
      "id": "98ec850f-60be-42bc-ba1e-b8c214a1cf18",
      "name": "Send message",
      "webhookId": "a2500a08-b652-4d29-91c8-fed3605fb7a1",
      "credentials": {
        "whatsAppApi": {
          "id": "ybwEeYM1TLoQuAK9",
          "name": "WhatsApp account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT session_id\nFROM chat_messages\nWHERE role = 'bot'\n  AND sent_at <= NOW() - INTERVAL '1 minutes'\n  AND rechamada = FALSE\n  AND sent_at = (\n      SELECT MAX(sent_at)\n      FROM chat_messages cm2\n      WHERE cm2.session_id = chat_messages.session_id\n  )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1680,
        48
      ],
      "id": "8858bd2d-b9dd-4794-9d5c-170c5a0aea48",
      "name": "SELECIONAR NUMERO USUARIO INAT.",
      "credentials": {
        "postgres": {
          "id": "1sA6ADEC79MbQgBk",
          "name": "postgres-patrick-render"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rechamada": true,
            "session_id": "={{ $json.contacts[0].wa_id }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rechamada",
              "displayName": "rechamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1264,
        48
      ],
      "id": "7e1a9785-6e41-416e-b69d-2ec8caa6c065",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "1sA6ADEC79MbQgBk",
          "name": "postgres-patrick-render"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {
    "texto-disable": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Daniel Alvarez"
              },
              "wa_id": "5521969547552"
            }
          ],
          "messages": [
            {
              "from": "5521969547552",
              "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjA4RUE4M0YzMkNCNTlDQzY2QkEA",
              "timestamp": "1762519850",
              "text": {
                "body": "me diz mais desse plano"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ],
    "image-disable": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Daniel Alvarez"
              },
              "wa_id": "5521969547552"
            }
          ],
          "messages": [
            {
              "from": "5521969547552",
              "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjBEMkMxQ0E1QUU3QjJGRjU3NEQA",
              "timestamp": "1763653641",
              "type": "image",
              "image": {
                "mime_type": "image/jpeg",
                "sha256": "4L1Y1z0UYwCqnKmkYRcMwvednuRa+E0s/EG95QZqBbs=",
                "id": "812973104829074"
              }
            }
          ],
          "field": "messages"
        }
      }
    ],
    "pdf-disable": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Daniel Alvarez"
              },
              "wa_id": "5521969547552"
            }
          ],
          "messages": [
            {
              "from": "5521969547552",
              "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjA1OTM4NzQ0RkVERDk3NkJBNEMA",
              "timestamp": "1763653709",
              "type": "document",
              "document": {
                "filename": "CATALAGO UP DESIGNER.pdf",
                "mime_type": "application/pdf",
                "sha256": "Ud8IqBZRIA6v2ftFwZYJyd30uklUmbXVot0uwPdc5kg=",
                "id": "1150602070490685"
              }
            }
          ],
          "field": "messages"
        }
      }
    ],
    "audio-disable": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551791204",
            "phone_number_id": "740050119202275"
          },
          "contacts": [
            {
              "profile": {
                "name": "Daniel Alvarez"
              },
              "wa_id": "5521969547552"
            }
          ],
          "messages": [
            {
              "from": "5521969547552",
              "id": "wamid.HBgNNTUyMTk2OTU0NzU1MhUCABIYFjNFQjA3NDlBQ0JEQUYzNERERDJCQTEA",
              "timestamp": "1763648144",
              "type": "audio",
              "audio": {
                "mime_type": "audio/ogg; codecs=opus",
                "sha256": "uM6bssrQq+Ff2gFoMWxH6lqHqfEATP0c1VmnI3mY/K8=",
                "id": "1330983264905395",
                "voice": false
              }
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "connections": {
    "Knowledge Base Agent": {
      "main": [
        [
          {
            "node": "Processar Saída do Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Redis Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Docs Importer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Section Loader": {
      "ai_document": [
        [
          {
            "node": "Redis Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Document Chunker": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Section Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs Importer": {
      "main": [
        [
          {
            "node": "Redis Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Map text prompt (audio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Map image prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Map document prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map file extensions": {
      "main": [
        [
          {
            "node": "Route Document Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map document prompt": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map image prompt": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map text prompt": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets WhatsApp Voicemail Source URL": {
      "main": [
        [
          {
            "node": "Download Voicemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets WhatsApp Image Source URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gets WhatsApp Document Source URL": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voicemail": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Map file extensions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Types": {
      "main": [
        [
          {
            "node": "Map text prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gets WhatsApp Voicemail Source URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gets WhatsApp Image Source URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gets WhatsApp Document Source URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Document Types": {
      "main": [
        [
          {
            "node": "Map document prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Unsupported Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "MESSAGE 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detectar Links Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Saída do Agente": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagens para Loop": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Links Pagamento": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Map text prompt (audio)": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Preparar Mensagens para Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Redis Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Send Response1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "texto-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio-disable": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "SELECIONAR NUMERO USUARIO INAT.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECIONAR NUMERO USUARIO INAT.": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ec03983-63a4-421b-af57-89c1427d75b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75788b527e8c3abb1c23bdbbe339b194ba7dce9e88d5e581b0bcfb79492c9c2d"
  },
  "id": "YV2vkRGsmOc99cS9",
  "tags": []
}